[2015-06-16 10:11] untitaker commented on #3
@RonnyPfannschmidt I'd recommend setting up appveyor, AFAIK you have enough privileges to do this.

[2015-06-16 10:14] mindw commented on #3
Actually I have a pull request under testing for this - hopefully it can be
ready later today.

-gabi

On Tue, Jun 16, 2015 at 1:11 PM, Markus Unterwaditzer <
notifications@github.com> wrote:

[2015-06-16 11:16] RonnyPfannschmidt commented on #3
i'd appreciate that, i made a few mistakes with those 2 services before running out of time

[2015-06-19 11:58] mindw commented on #3
I'm done on my end. #6 Fixes travis.

The sooner 1.5.5 is out the better - We can continue spreading its use :)

[2015-06-25 20:11] RonnyPfannschmidt commented on #8
get_version is intended to be used in repos/sdists, for installed versions the metadata is availiable via the package installer metadata

[2015-06-25 20:12] RonnyPfannschmidt commented on #8
for clarification - use pkg_ressources.get_distribution('mymodule').version

[2015-06-25 21:12] a7p commented on #8
Thank you very much for the quick and helpful answer.

[2015-06-26 06:24] RonnyPfannschmidt commented on #9
this is a duplicate of #3 .
a release with a fix will be tomorrow

[2015-07-01 18:03] jaraco opened #1 "add self-update via calling as script"
---
- Bitbucket: https://bitbucket.org/pypa/setuptools_scm/issue/1
- Originally reported by: Ronny Pfannschmidt
- Originally created at: 2010-05-26T02:08:58.368

[2015-07-01 18:03] #1 closed, assigned to nobody

[2015-07-01 18:03] jaraco commented on #1
we prefer setup_requires now

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco commented on #1
Removing component: dropin (automated comment)

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco opened #2 "the null changeset is not correctly translated to version 0.0"
---
- Bitbucket: https://bitbucket.org/pypa/setuptools_scm/issue/2
- Originally reported by: Ronny Pfannschmidt
- Originally created at: 2010-05-26T02:10:21.765

[2015-07-01 18:03] jaraco commented on #2
replace null version with 0.0, fixes #2

→ <<cset 8b4be04ffbc5>>

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco commented on #2
Removing component: dropin (automated comment)

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] #2 closed, assigned to nobody

[2015-07-01 18:03] jaraco opened #3 "acceptance test hg archival data"
they are just unit-tested

---
- Bitbucket: https://bitbucket.org/pypa/setuptools_scm/issue/3
- Originally reported by: Ronny Pfannschmidt
- Originally created at: 2010-05-26T02:24:01.704

[2015-07-01 18:03] jaraco commented on #3
acceptance-test archival, fixes #3

→ <<cset 27f85181f001>>

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] #3 closed, assigned to nobody

[2015-07-01 18:03] jaraco opened #4 "acceptance test hg workdir versioning"
---
- Bitbucket: https://bitbucket.org/pypa/setuptools_scm/issue/4
- Originally reported by: Ronny Pfannschmidt
- Originally created at: 2010-05-26T02:24:32.272

[2015-07-01 18:03] jaraco commented on #4
acceptance test hg workdir usage, fixes #4

→ <<cset 7ff2d11a15b8>>

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] #4 closed, assigned to nobody

[2015-07-01 18:03] jaraco opened #5 "acceptance test cachefile use"
---
- Bitbucket: https://bitbucket.org/pypa/setuptools_scm/issue/5
- Originally reported by: Ronny Pfannschmidt
- Originally created at: 2010-05-26T02:25:09.438

[2015-07-01 18:03] jaraco commented on #5
acceptance test and fix version from cachefile, fixes #5

→ <<cset 66c37cb291cc>>

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] #5 closed, assigned to nobody

[2015-07-01 18:03] jaraco opened #6 "acceptance test PKG-INFO sdist fallback"
---
- Bitbucket: https://bitbucket.org/pypa/setuptools_scm/issue/6
- Originally reported by: Ronny Pfannschmidt
- Originally created at: 2010-05-26T02:25:42.385

[2015-07-01 18:03] jaraco commented on #6
acceptance test the pkg-info reader, fixes #6

→ <<cset 62dae146b56b>>

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] #6 closed, assigned to nobody

[2015-07-01 18:03] jaraco opened #7 "hg 1.3 support"
seems to lack latesttag for null

---
- Bitbucket: https://bitbucket.org/pypa/setuptools_scm/issue/7
- Originally reported by: Ronny Pfannschmidt
- Originally created at: 2010-05-26T19:10:56.016

[2015-07-01 18:03] #7 closed, assigned to nobody

[2015-07-01 18:03] jaraco commented on #7
split up reading hg data and add support for older hg versions via abuse of hg log, fixes #7

→ <<cset cf3d3ed25094>>

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco opened #8 "old vs new hg support should be tested with funcargs"
also needs skipping for old hg

---
- Bitbucket: https://bitbucket.org/pypa/setuptools_scm/issue/8
- Originally reported by: Ronny Pfannschmidt
- Originally created at: 2010-05-27T10:21:14.066

[2015-07-01 18:03] #8 closed, assigned to nobody

[2015-07-01 18:03] jaraco opened #9 "Test failures"
==================================== ERRORS ====================================
__________________________ ERROR at setup of test_do ___________________________

[code]

/var/tmp/portage/dev-python/hgdistver-0.16/work/hgdistver-0.16/test_hgdistver.py:22
__________________ ERROR at setup of test_archival_to_version __________________

request = <FuncargRequest for <Function 'test_archival_to_versi

[2015-07-01 18:03] jaraco commented on #9
Also, you should declare a test_requires pytest and compatibly Python versions in the setup.py.

---

Original comment by: Dirkjan Ochtman

[2015-07-01 18:03] #9 closed, assigned to nobody

[2015-07-01 18:03] jaraco commented on #9
(Reply via Ronn...@gmx.de):

What version of pytest?

also maybe notify holger in the pytest issue tracker

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco commented on #9
eeeeer,  progress?
with py.test

[code]

nosetests;

[code]

12 out of 12. perfect, eer, score
train wreck

---

Original comment by: [idella5](http://bitbucket.org/idella5)

[2015-07-01 18:03] jaraco commented on #9
grabing it now

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco commented on #9
uploaded a fixed release, please test

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco commented on #9
With py.test, I still see these failures with hgdistver-0.17 (both 2.7 and 3.2):

[code]

---

Original comment by: Dirkjan Ochtman

[2015-07-01 18:03] jaraco commented on #9
seems there are some version differences with never versions that i need to take into account

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco commented on #9
Ping, please take a look at this.

---

Original comment by: Dirkjan Ochtman

[2015-07-01 18:03] jaraco commented on #9
i think it should work now, cant be sure tho

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco commented on #9
Hmm, not quite. With 0.17:

[code]

With 0.18:

[code]

---

Original comment by: Dirkjan Ochtman

[2015-07-01 18:03] jaraco commented on #9
its fixed in 0.19

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco commented on #9
Okay, I'll take a look when that's released.

---

Original comment by: Dirkjan Ochtman

[2015-07-01 18:03] jaraco commented on #9
It's also fixed in  0.18

---

Original comment by: [idella5](http://bitbucket.org/idella5)

[2015-07-01 18:03] jaraco commented on #9
should be fixed, please reopen if it happens a gain (git is a flaky mess)

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco opened #10 "Use a smarter way to detect git repositories"
Currently, hgdistver looks for .git to determine if cwdir is a git repository. Instead, running a git command such as git status should be used to determine if the current repo is a git directory. If the command fails w/ a status error, then we have an invalid repo otherwise, we're in a git repo.

---
- Bitbucket: https://bitbucket.org/pypa/setuptools_scm/issue/10
- Originally reported by: Amit Am

[2015-07-01 18:03] #10 closed, assigned to nobody

[2015-07-01 18:03] jaraco commented on #10
Replacing

[code]

with

[code]

should be an appropriate fix.

---

Original comment by: Amit Ambasta

[2015-07-01 18:03] jaraco commented on #10
the intent is to quickly skip if one is not in a git related directory at all

if there is a .git folder but it invalid it will bail out as the revparse as intended

so unless there is something huge i have overseen the check works as intended right now

feel free to reopen with an direct example detailing why the check should be done  as you lined out (its perfectly valid, but invokes a fork+exec

[2015-07-01 18:03] jaraco opened #11 "version_from_git would fail for tags containing hyphens"
The current function, get_version_from_git would fail for tags containing multiple hyphens at line 192.

[code]

[code]

would be an appropriate fix.

---
- Bitbucket: https://bitbucket.org/pypa/setuptools_scm/issue/11
- Originally reported by: Amit Ambasta
- Originally created at: 2014-06-30T16:18:57.404

[2015-07-01 18:03] #11 closed, assigned to nobody

[2015-07-01 18:03] jaraco commented on #11
fix issue 11: always take git describe long format to avoid the source of the ambiguity

→ <<cset 5db69f709c7d>>

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco opened #12 "hgdistver.__version__"
The hgdistver module should have a `__version__` attribute.

---
- Bitbucket: https://bitbucket.org/pypa/setuptools_scm/issue/12
- Originally reported by: Stefan Zimmermann
- Originally created at: 2014-09-04T21:08:30.525

[2015-07-01 18:03] jaraco commented on #12
fix issue 12: add a **version** attribute via pkginfo

→ <<cset 145583fdc0dd>>

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] #12 closed, assigned to nobody

[2015-07-01 18:03] jaraco opened #13 "Please include tests (+ test infra) in PyPI tarballs"
---
- Bitbucket: https://bitbucket.org/pypa/setuptools_scm/issue/13
- Originally reported by: Dirkjan Ochtman
- Originally created at: 2014-10-12T14:25:55.578

[2015-07-01 18:03] jaraco commented on #13
Also, no 0.22 tag is included in the repository even though it is released on PyPI. Please make your release process a little more regular (I often use a checklist in a RELEASING file) to catch these things.

---

Original comment by: Dirkjan Ochtman

[2015-07-01 18:03] jaraco commented on #13
seems i missed to push the tag, i'll make something that ensures i can only upload pushed releases

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] #13 closed, assigned to nobody

[2015-07-01 18:03] jaraco commented on #13
fixed

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco opened #14 "get_version_from_hg betrays git support"
When hgtools added git support, it changed the `use_hg_version` directive to also support `use_vcs_version`. According to the docs for hgdistver, the directive is `get_version_from_hg`. It should support a more generic directive. I haven't looked at the code. It may be the case that a doc fix is all that's needed.

---
- Bitbucket: https://bitbucket.org/pypa/setuptools_scm/issue/14
- Originally re

[2015-07-01 18:03] jaraco commented on #14
As @RonnyPfannschmidt pointed out in IRC, the preferred directive is `get_version_from_scm`. The readme should be updated accordingly.

---

Original comment by: Jason R. Coombs

[2015-07-01 18:03] #14 closed, assigned to nobody

[2015-07-01 18:03] jaraco commented on #14
'`use_scm_version=True` is the way now

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco opened #15 "mention versioneer in the docs"
suggestion by @flub  suggestion to help making it searchable

---
- Bitbucket: https://bitbucket.org/pypa/setuptools_scm/issue/15
- Originally reported by: Ronny Pfannschmidt
- Originally created at: 2015-02-18T11:28:30.165

[2015-07-01 18:03] #15 closed, assigned to nobody

[2015-07-01 18:03] jaraco opened #16 "option to hide node"
---
- Bitbucket: https://bitbucket.org/pypa/setuptools_scm/issue/16
- Originally reported by: Ronny Pfannschmidt
- Originally created at: 2015-02-18T13:42:55.041

[2015-07-01 18:03] jaraco commented on #16
make version construction pluggable
fixes #17
fixes #19
fixes #16

→ <<cset 08029d3bf341>>

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] #16 closed, assigned to nobody

[2015-07-01 18:03] jaraco opened #17 "Update version metadata standard to PEP 440"
This shows up for example with date based versions such as `2015.1` which are converted into `5.1` using the `tag_to_version` utility.

---
- Bitbucket: https://bitbucket.org/pypa/setuptools_scm/issue/17
- Originally reported by: Jannis Leidel
- Originally created at: 2015-02-20T18:04:53.784

[2015-07-01 18:03] jaraco commented on #17
You should use packaging for that as well: https://github.com/pypa/packaging/blob/02b5d22ad82eb16663037b94e13ea437c7b7d48a/packaging/version.py#L167-L198

---

Original comment by: Jannis Leidel

[2015-07-01 18:03] jaraco commented on #17
good find, i'll switch to pkg_resourcess.parse_version and split on tag to avoid custom code to begin with

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco commented on #17
Makes sense to me +1

---

Original comment by: Jannis Leidel

[2015-07-01 18:03] #17 closed, assigned to nobody

[2015-07-01 18:03] jaraco commented on #17
make version construction pluggable
fixes #17
fixes #19
fixes #16

→ <<cset 08029d3bf341>>

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco opened #18 "Clarify support for X.X versions"
The readme states:

[code]

I believe this statement betrays a very strict restriction on version numbers, which in my opinion is too strict for a tool meant to be generally used. A great many packages use the semver deviant model of advertising only the X.X form prior to patch releases.

Perhaps setuptools_scm handles this latter model with the caveat that it will always only increment the last a

[2015-07-01 18:03] jaraco commented on #18
change wording for semver interaction, fixes #18

→ <<cset f5892f4e0d2d>>

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] #18 closed, assigned to nobody

[2015-07-01 18:03] jaraco opened #19 "Consider replacing guess_next (boolean) with next_version_scheme (or similar)"
The readme describes a `guess_next` parameter, which is a boolean that defaults to True.

Rather than have a boolean for this parameter (especially one that defaults to True), I recommend a model that's more extensible. Consider the facet that this flag reflects and create textual indicators representing the possible values. For example:

`next_version_scheme`: If the current (or parent) changeset

[2015-07-01 18:03] jaraco commented on #19
make version construction pluggable
fixes #17
fixes #19
fixes #16

→ <<cset 08029d3bf341>>

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] #19 closed, assigned to nobody

[2015-07-01 18:03] jaraco opened #20 "pkg_resources.SetuptoolsVersion does not exist"
This commit: https://bitbucket.org/pypa/setuptools_scm/commits/1f5bd7130e640e818132b5583e5328875a81b4d2#Lsetuptools_scm/version.pyT5

pkg_resources does not have an attribute called "SetuptoolsVersion"

This breaks a pip install of this package on a fresh virtualenv for me (python 2.7.6 + pip 1.5.6 and python 3.4.0 + pip 1.5.6)

---
- Bitbucket: https://bitbucket.org/pypa/setuptools_scm/issue/20
-

[2015-07-01 18:03] jaraco commented on #20
seems like your setuptools is too old and i forgot to depend on a recent enough version, thanks for finding and reporting

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco commented on #20
more fun, it can't be set up to version check/auto update

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] #20 closed, assigned to nobody

[2015-07-01 18:03] jaraco commented on #20
support working with setuptools pre-12, fixes #20 #21 and #23

→ <<cset 4e74d27d5ca0>>

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco opened #21 "Setuptools dependency is too strict"
The dependency on `setuptools >= 12` is rather strict. There are lots of environments still on older versions of setuptools. This strict requirement makes setuptools_scm a poor replacement for hgtools.

I'd like to see a new version that supports setuptools >= 0.6.

---
- Bitbucket: https://bitbucket.org/pypa/setuptools_scm/issue/21
- Originally reported by: Jason R. Coombs
- Originally created at

[2015-07-01 18:03] #21 closed, assigned to nobody

[2015-07-01 18:03] jaraco commented on #21
support working with setuptools pre-12, fixes #20 #21 and #23

→ <<cset 4e74d27d5ca0>>

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco opened #22 "package installed as 0.0.0"
Using easy_install to install setuptools_scm, it installs as version 0.0.0:

[code]

It should install as the advertised version.

---
- Bitbucket: https://bitbucket.org/pypa/setuptools_scm/issue/22
- Originally reported by: Jason R. Coombs
- Originally created at: 2015-02-25T17:12:40.765

[2015-07-01 18:03] #22 closed, assigned to nobody

[2015-07-01 18:03] jaraco commented on #22
print the note when using setup.py in a fresh checkout, fixes #22

→ <<cset 5621ec8f0a76>>

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco commented on #22
I'm afraid I don't understand. How does printing the note in the setup.py file fix the PYPI hosted tarballs to get the correct version number? Is that just a reminder for the maintainer for the next release?

---

Original comment by: Jason R. Coombs

[2015-07-01 18:03] jaraco commented on #22
I still have this problem:

[code]

This behavior means that every time I install the package (or every time setuptools installs it as part of a setup_requires), the apparent version of the package is 0.0.0. I'm unable to infer what version is being used.

Furthermore, if the setup_requires requirement stipulates anything that doesn't include 0.0.0, invocation will fail. Consider this minimal setu

[2015-07-01 18:03] jaraco commented on #22
I had this issue in hgtools, which is why [hgtools couldn't use itself naturally](https://bitbucket.org/jaraco/hgtools/src/8734a0ddb337d139a0f8b777c463aac7742465af/setup.py?at=default#cl-21).

---

Original comment by: Jason R. Coombs

[2015-07-01 18:03] jaraco commented on #22
this seems to be a bug in my release process - as soon as the egg-info exist it can extract the data i will create some extra testing to fix it up

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco commented on #22
cant replicate on python2

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco commented on #22
seems like setuptools easyinstall sandboxing breaks the world

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco commented on #22
extend sdist command, replace version in setup.py of the sdist, fixes issue #22

→ <<cset b9902b92c9f1>>

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco opened #23 "pip install fails"
"pip install setuptools_scm" fails with this error:

[code]

---
- Bitbucket: https://bitbucket.org/pypa/setuptools_scm/issue/23
- Originally reported by: Anonymous
- Originally created at: 2015-02-25T17:48:12.938

[2015-07-01 18:03] jaraco commented on #23
Forgot to login when submitting it. Commenting for traceability.

---

Original comment by: Michael Hart

[2015-07-01 18:03] jaraco commented on #23
support working with setuptools pre-12, fixes #20 #21 and #23

→ <<cset 4e74d27d5ca0>>

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] #23 closed, assigned to nobody

[2015-07-01 18:03] jaraco opened #24 "Lack of documentation"
This project is something I am looking for, but I am missing some documentation and/or place to discuss things. Personally, I would like to help with the development and/or documentation, so I share things that I have learned about the problem `setuptools_scm` is trying to address:

Connecting SCM with versioning stuff is difficult. There are two major use cases when you want the package to know i

[2015-07-01 18:03] #24 closed, assigned to nobody

[2015-07-01 18:03] jaraco commented on #24
please ping me in the #pypa channel on freenode, im usually around, keep in mind i have a normal work week in CET

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco commented on #24
a a note, setuptools should grow a pkg_resources utility function that can be used for

`__version__ = __import__('pkg_resources').get_distribution_version_of_package(__name__)`

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco commented on #24
after discussion on #pypa-dev the conclusion was to add version module support to setuptools_scm and a pkg_resources helper function

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco commented on #24
just missed you on irc

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco commented on #24
Issue #25 was marked as a duplicate of this issue.

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco commented on #24
resuffle the READMe, fixes #24

→ <<cset 76f9f38fa608>>

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco opened #25 "get_version returns None when not in the root of the repository"
I have projects that use hgtools to load the version when building Sphinx docs. Sphinx expects the docs to be built with docs/ as the current directory. Therefore, when using setuptools_scm with a conf file [like this one](https://bitbucket.org/jaraco/jaraco.test/src/a41b992c92020cf616930a24091a417831596c1a/docs/conf.py?at=default) is executed, it always returns None for the version.

I suggest th

[2015-07-01 18:03] jaraco commented on #25
there is the root parameter (which defaults to '.') that is intended or that

the automated upward traversal was disabled because people reported bugs in situations where a pacakge is build in a sibdirectory of a repository that is unrelated

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco commented on #25
Aah. That's an easy fix, then. I've added `root='..'` to the sphinx conf when building.

---

Original comment by: Jason R. Coombs

[2015-07-01 18:03] jaraco commented on #25
needs docs tho

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco commented on #25
What about keeping automatic upwards traversal when `root` is set e.g. to `CLOSEST` or `FURTHEST` (some magic constants with the meaning you can guess), or even just `UP` (throw an error in case of nested repos)?  There should be more people trying to build something from a subdir of a repo than people trying to build something from a subdir of a repo that happens to be a subrepo...

---

Original

[2015-07-01 18:03] #25 closed, assigned to nobody

[2015-07-01 18:03] jaraco commented on #25
An additional problem is that if you keep `setup.py` in a sub-directory under repository, `setuptools-scm` will not detect the version. My `setup.py`:

[code]

Should I use `get_version` in this case? As in:

[code]

---

Original comment by: Tuukka Mustonen

[2015-07-01 18:03] jaraco commented on #25
@RonnyPfannschmidt Do you have recommendation on using `use_scm_version` vs. directly invoking `get_version()`?

---

Original comment by: Tuukka Mustonen

[2015-07-01 18:03] jaraco commented on #25
Couldn't setuptools_scm infer the correct root with os.path.dirname(sys.modules['**main**'].**file**) instead of relying on the cwd?

---

Original comment by: Markus Unterwaditzer

[2015-07-01 18:03] jaraco commented on #25
`use_scm_version` is the way to go for setup.py

`use_scm_version={'root': '..'}` is for passing additional roots

inferrence via `__main_` is incorrect

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco commented on #25
Duplicate of #24.

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco opened #26 "UnicodeDecodeError"
I have a python project. Trying to execute
`py2 setup.py bdist_wheel`

[code]

Windows 7, python 2.7

---
- Bitbucket: https://bitbucket.org/pypa/setuptools_scm/issue/26
- Originally reported by: [lansman](http://bitbucket.org/lansman)
- Originally created at: 2015-05-19T07:56:32.400

[2015-07-01 18:03] jaraco commented on #26
It is bad practice to use string' decode() without explicit setting encoding, because on some platforms (including Windows) decode' encoding is ascii, so amount of supporting characters is VERY tiny.

You should consider to change all `.decode()` to `.decode(locale.getpreferredencoding())` or `.decode(sys.stdin.encoding)` or `.decode(sys.stdout.encoding)` depending on where your string come from.

[2015-07-01 18:03] #26 closed, assigned to nobody

[2015-07-01 18:03] jaraco commented on #26
Propper decode handling, fixes #26

→ <<cset c38975206ccd>>

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco opened #27 "WindowsError: [Error 2] - on file finder"
Windows 7, Python 2.7.8

To reproduce:

[code]

[code]

Contents of setup.py

[code]

Error 2 means "file not found"
https://msdn.microsoft.com/en-us/library/windows/desktop/ms681382%28v=vs.85%29.aspx

But which file? There is no information.

When i delete setuptools_scm `pip uninstall setuptools_scm` - all is ok, no more error.

---
- Bitbucket: https://bitbucket.org/pypa/setuptools_scm/issue/27

[2015-07-01 18:03] jaraco commented on #27
File finders again

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] #27 closed, assigned to nobody

[2015-07-01 18:03] jaraco commented on #27
print exception on failed/broken file finding, fixes #27

→ <<cset fa3dd4d12a4a>>

---

Original comment by: Ronny Pfannschmidt

[2015-07-01 18:03] jaraco opened #28 "UnicodeDecodeError parsing PKG-INFO"
On Python 3.4.2 in some environments (maybe when LANG=C), setuptools_scm raises a UnicodeDecodeError when it encounters non-ascii in the PKG-INFO file:

[code]

This causes the version inference to fail and all versions of the irc package to install as 0.0.0.

---
- Bitbucket: https://bitbucket.org/pypa/setuptools_scm/issue/28
- Originally reported by: Jason R. Coombs
- Originally created at: 2015

[2015-07-01 18:03] #28 closed, assigned to nobody

[2015-07-01 18:03] jaraco commented on #28
Indeed, in the environment where this is failing, LANG is not set.

---

Original comment by: Jason R. Coombs

[2015-07-01 18:03] jaraco commented on #28
Setuptools forces UTF-8 for the encoding of package metadata. Use it also for reading. Fixes #28.

→ <<cset e8e83b611dc8>>

---

Original comment by: Jason R. Coombs

[2015-07-02 02:22] jaraco opened #29 "Migrate issues from bitbucket to github"
The PyPA desires to host setuptools_scm at Github instead of Bitbucket, but in doing so, the issue tracker in Bitbucket was disabled, making references to to the tickets impossible. [I proposed](http://chat-logs.dcpython.org/day/pypa-dev/2015-06-11#19.07.24.jaraco) we migrate the issues, keeping the issue numbers the same and continuing the issue tracking in Github from the last Bitbucket issue nu

[2015-07-02 02:25] jaraco commented on #29
I used [this revision](https://github.com/jaraco/bitbucket_issue_migration/tree/5c0debb74d0ee55911a446f25bbc80d014c0d9fd) of bitbucket_issue_migration to migrate the issues from bitbucket to github.

[2015-07-02 02:31] jaraco commented on #29
I used the following script to extract the issues that were created in github after the fork but before the bitbucket issues were migrated:

[code]

That produced [this JSON output](http://paste.jaraco.com/C10Rn).

Please re-file any outstanding issues.

[2015-07-02 02:31] #29 closed, assigned to nobody

[2015-07-03 07:03] mindw opened #30 "Release 1.5.5"
1.5.3/4 are broken on Python 2.7 and Windows.

The previous issue tracking this was deleted.

[2015-07-06 22:02] jaraco commented on #30
I'm on it. @RonnyPfannschmidt is out temporarily.

Sorry about the lost issues; it was an unfortunate but temporary consequence of not having migrated the old issues sooner. They are recorded in #29, but only for posterity.

I'll get a 1.5.5 release out shortly. Can you review 285d7910544f to confirm that solution will also work?

[2015-07-06 23:19] mindw commented on #30
tox -e py27 passed on Windows.
The appveyour integration only needs the project to be added and have the shields (shield.io ?) setup.

https://ci.appveyor.com/project/pypa/setuptools-scm (?)

[2015-07-07 02:48] jaraco commented on #30
1.5.5 tagged and released.

[2015-07-07 02:48] #30 closed, assigned to nobody

[2015-07-08 09:39] hpk42 opened #31 "prevent building archives when no VCS repo is there"
When using setuptools_scm it should bail out if it can't find any VCS repo.  Instead it currently creates version numbers such as "0.0.0", not telling the user it failed to get the repo.

[2015-07-08 10:14] StephanErb commented on #31
Link to a related issue in devpi: https://bitbucket.org/hpk42/devpi/issues/246/import-error-when-importing-with-devpi

[2015-07-13 18:03] RonnyPfannschmidt commented on #31
could you check if the refereed pr is roughly what you'd expect?

[2015-07-16 11:20] StephanErb commented on #31
From reading the code, the patch looks good. However, I cannot test:

[code]

[2015-07-16 13:51] RonnyPfannschmidt commented on #31
please uninstall the previously installed version

[2015-07-16 16:14] StephanErb commented on #31
Pull request works as expected. Thanks!

[2015-07-18 17:46] mr-rodgers opened #33 "'write_to' configuration parameter does not work"
I'm using setuptools 18.0.1 with the following setup script:

[code]

Running the script like this just uses the default version that I gave to the setup script. However, if I change the parameter to `use_scm_version=True`, then it all works fine. The README says that I should be able to use the mapping as shown above, so this looks like a bug.

[2015-07-19 14:53] RonnyPfannschmidt commented on #33
can you clarify what you mean with the 'default version',

also please try the master branch o setuptools_scm, it errors visibly in more cases

[2015-07-19 18:02] mr-rodgers commented on #33
Trying the code from the master branch of setuptools_scm, I don't get an error message.

[code]

The 'default version' I was referring to is the version number passed to the setup function using `version='X.X.X'`. In this case it is `0.1.0`.

Here's what I get when I change `use_scm_version={'write_to': 'package/VERSION'}` to `use_scm_version=True`:

[code]

[2015-07-20 17:21] mr-rodgers commented on #33
Using the fail-fast branch, rather than the master branch, this is what I get:

[code]

Looking at the source code for the function that fails, it looks as though the write_to parameter expects either a ".txt" or ".py" file extension, and will fail otherwise. Changing my write_to file from `VERSION` to `VERSION.txt` does  resolve this, although forcing the .txt extension seems like an odd impositi

[2015-07-21 11:05] RonnyPfannschmidt commented on #33
the extension is used to decide how to export the data,

in hindight the approach was a unfortunate and bad idea

[2015-07-21 12:27] #31 closed, assigned to nobody

[2015-07-29 11:23] RonnyPfannschmidt opened #36 "allow arbitrary filenames/templates in write_to"
superseeds #33

there should be a way to allow the writing of arbitrary files/styles

an idea os to have a write_to_template that acompanies write_to and
just having defaults for the supported extensions

[2015-07-29 11:25] RonnyPfannschmidt commented on #33
the main problem was solved in the fail-fast branch, the rest will be solved later in #36

thanks for bringing it to attention and for providing refinements to the fail-fast solution

[2015-07-29 11:33] #33 closed, assigned to nobody

[2015-08-02 04:28] prologic commented on #36
:+1: I'd like to be able to (_for example_) write out a `package/version.py` with the following contents:

[code]

[2015-08-02 06:50] RonnyPfannschmidt commented on #36
@prologic what is the version info needed for?

[2015-08-02 06:53] prologic commented on #36
A good idea at the time; hardly used; but to programatically compute/compare version numbers at runtime much liks `sys.version_info` tuple.

[2015-08-02 09:16] RonnyPfannschmidt commented on #36
@prologic

my general suggestion is to always use pkg_resources.parse_version of setuptools for that

while working with version numbers im detail it beame rather apparent that all other ways break under too many circumstances

for example its not clear how to encode dev/local versions, scm commit id's or date metadata for dirty workdirs

so on one side its practically impossible to sanely encode

[2015-08-02 09:21] prologic commented on #36
Whilst I agree it _could_ still be useful to be able to template out `write_to` even if it's used for such purposes to avoid re-parsing the version string each time.

[2015-08-06 10:34] RonnyPfannschmidt opened #37 "use pypa/readme for readme checking"

[2015-08-08 05:49] #37 closed, assigned to nobody

[2015-08-08 06:10] felixonmars opened #38 "Please add a tag for 1.7.0"
Looks like there is a 1.6.0 version on PyPI, but not in the repository. It would be great if 1.6.0 would be tagged here as well, thanks!

[2015-08-08 07:29] RonnyPfannschmidt commented on #38
actually it seems a lot more tags had been missing in some way - i just did a git push --tags

thanks for the note, it didn't occur to me

[2015-08-13 07:16] felixonmars commented on #38
Looks like 1.7.0 is missing again :)

[2015-08-13 08:50] RonnyPfannschmidt commented on #38
i have o figure how to make git push tags, sorry for the inconvenience

[2015-08-13 12:25] untitaker commented on #38
`git push origin <tag>`

[2015-08-13 12:39] RonnyPfannschmidt commented on #38
@untitaker my main problem is automation in a sane way, prior i used `git push --tags` but i learnd that method is no good and one has to exercise more control (also i miss the mercurial model already)

[2015-08-13 12:41] untitaker commented on #38
I like to be explicit about what I push so this is no problem for me.

On Thu, Aug 13, 2015 at 05:39:10AM -0700, Ronny Pfannschmidt wrote:

[2015-08-16 12:09] RonnyPfannschmidt commented on #38
in future i'll push tags and let travis run on them once before uploading the releases to pypi

[2015-08-16 12:09] #38 closed, assigned to nobody

[2015-08-16 12:18] RonnyPfannschmidt opened #41 "add a comparable version tuple for use in write_to_template"
@prologic noted in #36 that having a version tuple for use in write_to might be helpful for a number of scenarios

personally i think just parsing versions with pkg_resources is fine is fine,
however since users declared a desire to have this im putting up this issue,

anyone can implement it, i'm happy to review and merge a reasonable solution

[2015-08-16 12:18] RonnyPfannschmidt commented on #36
the general mechanism is implemented, for the detail i created a new issue

[2015-08-16 12:18] #36 closed, assigned to RonnyPfannschmidt

[2015-08-16 21:10] prologic commented on #41
:+1: It just saves s few cpu cycles for me :)

[2015-08-17 20:50] vext01 opened #42 "Failing tests in 1.7.0"
On OpenBSD, I notice that the tests all fail unless the package has been installed (for some reason test suite looks for setuptools-scm instead of setuptools_scm):

[code]

Once installed, the tests at least run, but I get the following errors:

[code]

I'm just running py.test in the source dir. Is that correct?

[2015-08-17 20:52] RonnyPfannschmidt commented on #42
please run tox or do a `python setup.py develop` beforehand

[2015-08-17 20:53] RonnyPfannschmidt commented on #42
oh, for a bsd build env you might want to run python setup.py egg_info and use PYTHONPATH=.

[2015-08-17 21:25] vext01 commented on #42
Right, well that's equivalent to installing the package, which is fine. It doesn't however fix the latter test failures.

[code]

[2015-08-18 04:15] RonnyPfannschmidt commented on #42
What's the version of setuptools?

[2015-08-18 04:18] RonnyPfannschmidt commented on #42
Oh, wait its printed, and certainly never was released, your OS has that in a broken version

[2015-08-18 08:50] vext01 commented on #42
It was released, but it's just old:
https://pythonhosted.org/setuptools/history.html#id93

This is likely the issue.

[2015-08-18 09:05] RonnyPfannschmidt commented on #42
the basic issue is that setuptools version parsing in that old version is broken - and i can't support it sanely

[2015-08-18 09:34] RonnyPfannschmidt commented on #42
can this issue be closed then? is do you feel anything is missing

[2015-08-19 16:48] bluetech opened #43 "root configuration parameter and PKG-INFO"
I have a git repository which contains several sub-directories, each with its own `setup.py`. To get `setuptools_scm` to work, I thus pass `root: '..'`. However, when I try to `pip install` the result of a `setup.py sdist`, it doesn't find the version. The reason (I am pretty sure) is that it tries to look for `PKG-INFO` also in `..` and doesn't find it.

Is there any way to do this while still ke

[2015-08-19 20:08] RonnyPfannschmidt commented on #43
that's actually a really good find and a bug i did not anticipate at all
i'll come up with a fix

[2015-08-20 03:56] felixonmars opened #44 "Unable to detect version when running pytest-runner's tests"
Hi,

I am running pytest-runner's tests with "py.test" in its hg repo root folder, and getting the following error:

[code]

I have tried to downgrade setuptools_scm and found that it worked till 1.5.5. The repo is located at https://bitbucket.org/pytest-dev/pytest-runner

There was no error running `setup.py build`, etc, though.

Any hints?

[2015-08-20 06:33] RonnyPfannschmidt commented on #44
Bug in the sphinx configuration of ptr, recent setuptools-scm errors out earlier

[2015-08-20 07:26] felixonmars commented on #44
Thanks, I have opened a bug report there. For reference: https://bitbucket.org/pytest-dev/pytest-runner/issues/6

[2015-08-20 09:04] jaraco commented on #44
At the very least, if the recommended usage is to have a try/except block for sphinx config files, then that should be advertised in the documentation. Even better would be to provide a routine or parameter such that a package can call and get the version easily. In any case, the code used in pytest-runner is also used in dozens of other packages and is part of a template I use in many packages. I

[2015-08-20 10:29] RonnyPfannschmidt commented on #44
early versions used traversal, but traversal easily broke in certain scanarios

a propper solution should include a relative_to option that can be filled with **file**

[2015-08-20 10:33] RonnyPfannschmidt opened #45 "provide reliable root discovery using a relative_to argument"
`get_version(root=some_relative_path)` can be unreliable when the python file is executed in unexpected contexts

in order to provide reliable root finding relative to the executing file there should be a `relative_to` argument that should be the current file

then `root` must be relative to the directory containing the current file

this would also help to solve #44 in a proper manner

[2015-08-20 10:33] RonnyPfannschmidt commented on #44
implementing #45 will provide a proper solution

[2015-08-20 10:34] RonnyPfannschmidt commented on #42
closing due to lack of further feedback

[2015-08-20 10:34] #42 closed, assigned to nobody

[2015-08-20 10:47] vext01 commented on #42
Thanks. This is clearly the fault of an old setuptools. We plan to update. When we do, if the problem persists, I will open a new bug.

[2015-08-27 13:27] ionelmc opened #46 "Allow installation without history or metadata"
Eg, allow this to just work (with pip install):

[code]

In this situation I don't think anyone cares about what the version is.

[2015-08-27 13:50] #46 closed, assigned to nobody

[2015-08-31 14:46] HolgerPeters opened #48 "Warning "setuptools_scm functionality is degraded" over stdout"
The warning "setuptools_scm functionality is degraded" in setuptools_scm/setuptools_scm/version.py is printed to stdout, I rather think that it should rather be written to stderr, so that shell scripts will not break due to unexpected content in stdout.

Would `warnings.warn(....)` be suitable?

[2015-09-01 03:43] rouge8 opened #49 "setup.py develop and console_scripts"
When installing a package with `python setup.py develop` or `pip install -e .`, setuptools creates a script with the version hardcoded, e.g.

[code]

You can make changes to files and see them reflected in the console script (e.g. add a `print` statement), but once you commit, setuptools continues running the old version. Any ideas on a workaround other than reinstalling after every commit?

[2015-09-01 05:55] RonnyPfannschmidt commented on #49
This is a setuptools bug that should be fixed in setuptools (basically setuptools should use simplified scripts for develop installs)

It's on my extended to do, it would be nice if someone with time would step up

[2015-09-03 08:42] SnarkBoojum opened #50 "Shipping mercurial remnants"
I notice that the tarballs contain .hgignore .hgtags, which is strange since the project is now on git : perhaps those file can be removed from the repository?

[2015-09-03 09:06] RonnyPfannschmidt commented on #50
thanks for the reminds, i missed those

[2015-09-03 09:07] SnarkBoojum commented on #50
... and I don't know how github generates tarballs, but probably .gitignore shouldn't find its way in them... :-/

[2015-09-03 09:20] untitaker commented on #49
Any reason why that script ever contains version info at all?

On 1 September 2015 07:55:07 CEST, Ronny Pfannschmidt notifications@github.com wrote:

##

Sent from my phone. Please excuse my brevity.

[2015-09-03 09:31] untitaker commented on #50
AFAIK you can't affect the way _GitHub_ generates its tarballs which is why you should use the ones from PyPI.

[2015-09-03 11:18] RonnyPfannschmidt commented on #49
@untitaker because setuptools due to legacy assumes encapsulated egg installs without site-packages and uses very exact version information

perhaps it makes sense to teach pip install -e to use the simple pip scripts as well

[2015-09-03 14:23] jaraco commented on #50
.hgignore may be relevant for those of us still using Mercurial as their Git client; I'm unsure though. If you remove them and it's a problem, I'll let you know.

[2015-09-03 14:36] RonnyPfannschmidt commented on #50
the scm artifacts are also in the sdists, thats a detail of the file finders thats problematic

[2015-09-08 10:47] RonnyPfannschmidt opened #51 "support reading git metadata from export transformed files"
git supports special attributes to cause export to format metadata into files
this way we can finally support git tarballs

[2015-09-08 20:04] RonnyPfannschmidt commented on #51
git can't provide the necessary metadata (ever?)

[2015-09-08 20:05] #51 closed, assigned to nobody

[2015-09-14 13:46] #49 closed, assigned to nobody

[2015-09-14 13:49] RonnyPfannschmidt commented on #48
`distutils.log.warn` seems to be the correct tool to use

[2015-09-16 11:29] RonnyPfannschmidt opened #53 "remove included file finding - move to an extra dependency, warn if no MANIFEST exists"
the support plan is to have a filefinder extra and a separate pypi package for the file finders

feedback for the idea is direly needed

projects using it would simply depend on `setuptools_scm[filefinder]` to keep the complete behaviour

setuptools_scm would warn if the current workingset does not contain the file finder and no MANIFEST.in exists

CC @dstufft @jaraco @jezdez

[2015-09-17 17:07] #48 closed, assigned to nobody

[2015-09-17 20:46] #43 closed, assigned to RonnyPfannschmidt

[2015-10-02 12:14] SnarkBoojum opened #55 "Running tests raises TypeError exceptions about LocalPath"
With Python 2, I get errors like this:
TypeError: coercing to Unicode: need string or buffer, LocalPath found

With Python 3, those become:
TypeError: Can't convert 'LocalPath' object to str implicitly

This is just by calling pytest from the source toplevel directory.

[2015-10-02 12:16] SnarkBoojum commented on #55
Sigh... I have setuptools-scm 1.7.0 installed and that was what was used for the tests... sorry for the noise.

[2015-10-02 12:16] #55 closed, assigned to nobody

[2015-10-17 10:52] RonnyPfannschmidt opened #56 "figure a way to deal with debian packaging breaking setuptools_scm"
see borgbackup/borg#290

[2015-10-28 09:25] mzabaluev opened #59 "Inconsistent processing of vN.N.N tags on Mac OS X"
On Linux, if the latest reachable git tag has format `v{major}.{minor}.{micro}`, setuptools_scm strips out the `v` prefix.
On Mac OS X, the prefix is left intact.
Observed with setuptools_scm 1.8.0 on this project: https://github.com/gi-rust/grust-gen

[2015-10-28 09:28] mzabaluev commented on #59
On Mac OS X, I have git from XCode Command Line Tools:

[code]

[2015-10-29 13:06] RonnyPfannschmidt commented on #59
interesting find, whats the output of git describe on apple?

[2015-10-29 13:10] RonnyPfannschmidt commented on #59
oh, and additionally, whats the setuptools version on osx and on linux?

[2015-10-29 13:20] RonnyPfannschmidt commented on #59
for additional details, please also show the output of setup.py --version on both platforms

[2015-10-29 15:29] mzabaluev commented on #59
@RonnyPfannschmidt

It's `v0.1.2-1-g00db58b` on an advanced branch, which `setup.py` transforms to `v0.1.3.dev1+ng00db58b`.

Sorry that I've noticed only now, setuptools_scm outputs a warning:

[code]

The version numbers of Python and setuptools on my Mac:

[code]

[2015-10-29 15:31] RonnyPfannschmidt commented on #59
can you try again witha newer versio of setuptools, just to see if there is a difference - it seems i'll have to adapt to older setuptools better

[2015-10-29 15:32] mzabaluev commented on #59
FYI, the OS X version is 10.10.5 (Yosemite).

[2015-10-29 15:33] RonnyPfannschmidt commented on #59
unfortunately i dont have access to any osx box myself

[2015-10-29 16:01] mzabaluev commented on #59
With setuptools version 18.3.1 installed from Homebrew together with Python, the version is assigned as expected. I think it's fair to close this issue.

[2015-10-29 19:57] RonnyPfannschmidt opened #61 "Ensure we strip version prefixes on old setuptools"
See #59 degradion shouldn't be that bad

[2015-10-29 19:58] RonnyPfannschmidt commented on #59
I created a to the point issue

[2015-10-29 21:01] #59 closed, assigned to nobody

[2015-10-31 15:55] jaraco commented on #44
@RonnyPfannschmidt What is the recommended usage after the implementation of #45? What should one specify in a script, such as docs/conf.py to resolve the repo version when `os.getcwd()` could be either `.` or `docs/`?

[2015-10-31 16:31] jaraco commented on #44
I thought this issue was resolved because it hasn't been affecting me in local development, but I realized after moving one of my projects to github ([jaraco.mongodb](https://github.com/jaraco/jaraco.mongodb)) and [running it under Travis](https://travis-ci.org/jaraco/jaraco.mongodb/jobs/88527553), that the only reason these tests weren't failing in my environment was because in my environment, th

[2015-10-31 16:41] jaraco commented on #44
For the time being, I've [worked around the issue](https://github.com/jaraco/jaraco.mongodb/commit/8cbfa004770b798fbb7016c8c9c44b7b15a58ece) within that project, essentially implementing the `relative_to` that Ronny alluded to earlier in this ticket. Perhaps that technique still should be considered.

[2015-11-01 06:52] RonnyPfannschmidt commented on #45
AS per the comment of @jaraco in #44

[2015-11-01 06:54] RonnyPfannschmidt commented on #44
Reopened #45 again

[2015-11-01 06:54] #44 closed, assigned to nobody

[2015-11-10 20:10] c1728p9 opened #62 "Assert when installing on or after non-version git tag"
If I checkout an existing repo (In this case pyOCD) and create a non-version formatted tag, I get an assert when installing.  If I don't don't have a local tag then installing works correctly.  Is it a requirement when using setuptools_scm that the git repository can only have version formatted tags?

Machine: Windows 7 64 bit
setuptools-scm: Version 1.8.0
pyOCD commit: 87ca6b91477db7d458960504f21

[2015-11-10 22:17] untitaker commented on #62
Yeah, that assumption is definetly made.

Not sure if we want to support anything else. Iterating through all tags if the current one isn't parsable seems like the obvious solution, OTOH this might unintentionally lead to some old version being determined if the current version tag is not properly formatted.

[2015-11-11 01:04] c1728p9 commented on #62
Good to know.  I'll stick to well formatted tags in pyOCD then :).

Iterating through the all the tags seems reasonable if it is something you decide to support.  Maybe you could check for the presence of a '.' character to tell if you can interpret the tag as a a version or a regular tag.  That way you would still get an error if there is a small typo when making a tag.

[2015-11-11 14:49] RonnyPfannschmidt commented on #62
There is no reasonable support from the git side so for now we can't support it sanely

[2015-11-11 15:30] c1728p9 commented on #62
This should be a fairly easy change from the git side.  Just add a matching pattern for the version number to the command 'git describe'.  It would be a one line change here:
https://github.com/pypa/setuptools_scm/blob/master/setuptools_scm/git.py#L18

The full change would be something like:

[code]

Or for more specific matching:

[code]

Let me know what you think.  If you would like, I can cre

[2015-11-12 07:38] RonnyPfannschmidt commented on #62
I see what you mean,that approach is indeed much more reasonable than the history scan,

The nonspecific match should be the default, and it should be possible to override it via a keyword argument

[2015-11-12 07:39] RonnyPfannschmidt commented on #62
I would appreciate a PR, since I'm still waiting for my replacement computer

[2015-11-12 13:37] #45 closed, assigned to nobody

[2015-11-13 21:58] RonnyPfannschmidt opened #64 "Document the relative-to keyword argument"

[2015-11-13 22:02] jaraco commented on #64
Where should the documentation go? Although it could be indicated in the Configuration Parameters section, the `relative_to` doesn't seem particularly relevant to `use_scm_version`. I would only expect it to be relevant to the `get_version` call.

[2015-11-14 07:21] RonnyPfannschmidt commented on #64
The configuration parameters are passed 1:1 to get_version, so it should fit nicely

[2015-11-14 14:24] #64 closed, assigned to nobody

[2015-11-27 18:01] Changaco opened #65 "Support git archives"
git can inject data into archives, including tags. Here's how it could work:
1. put `use_scm_version={'git_metadata': '$Format:%D$'}` in `setup.py`
2. put `setup.py  export-subst` in `.gitattributes`
3. `setuptools_scm` extracts the version number from `git_metadata` with a regexp like `\btag: ([0-9][^,]*)\b`

[2015-11-27 20:48] RonnyPfannschmidt commented on #65
The metadata would be incomplete and broken in many situations

Also in that case a file named .git_archival.txt should be used and registered as scm backend
I'm happy to include a Variant that demonstrably works correct with random archives from github

But I will not again spend time researching and implementing it for git

[2015-11-29 16:18] RonnyPfannschmidt opened #67 "properly document https://pypi.python.org/pypi/setuptools_scm_git_archive"
after the result this is the result of #51 @Changaco tried again to pick this topic up in
#65 and #66

since core inclusion was not a viable option they kindly made a proper plugin and we should provide a reference for interested parties that share their evaluation of the up and downsides of partial git archive support and explain why its not in the core itself

[2015-11-29 16:20] RonnyPfannschmidt commented on #65
will be solved by #67 which should document the plugin that was kindly implemented and released by the original reporter

[2015-11-29 16:20] #65 closed, assigned to nobody

[2015-11-29 17:00] RonnyPfannschmidt commented on #62
fixed in 25b0529 - will be released after a followup for passing in match expressions

[2015-11-29 17:00] #62 closed, assigned to nobody

[2015-11-29 17:23] Changaco opened #69 "setuptools_scm isn't mentioned in PyPA's User Guide"
I've been trying to fix that in https://github.com/pypa/python-packaging-user-guide/pull/190

Feel free to close this issue if you don't care.

[2015-11-30 08:10] RonnyPfannschmidt commented on #69
It's somewhere on my own roadmap

I started working on an own release management pipeline that will include setuptools-scm but also handle grooming tasks, prerelease and postrelease steps

[2015-11-30 19:14] #67 closed, assigned to nobody

[2015-11-30 19:15] RonnyPfannschmidt commented on #41
closing due to lack of interest

[2015-11-30 19:15] #41 closed, assigned to nobody

[2015-11-30 19:16] RonnyPfannschmidt commented on #50
undesired scm artifacts should be removed via MANIFEST.in

[2015-11-30 19:16] #50 closed, assigned to nobody

[2015-11-30 19:17] RonnyPfannschmidt commented on #53
closing due to lack of participation

[2015-11-30 19:17] #53 closed, assigned to nobody

[2015-11-30 19:17] RonnyPfannschmidt commented on #56
there is no sane way to fix the upstream bugs because they inconsistently happen when debian breaks the world

[2015-11-30 19:17] #56 closed, assigned to RonnyPfannschmidt

[2015-12-04 14:45] evadeflow opened #70 "Option to choose most recent tag matching a pattern?"
I've integrated `setuptools_scm` into a cookiecutter template I'm proposing my company use to bootstrap  new Python modules, and the result is _outstanding_. So first off—thanks!! This will make it _so_ much easier for people to Do The Right Thing™. The one thing that concerns me about turning this loose on my colleagues is that we (unfortunately) have 'fat' repositories containing multiple module

[2015-12-04 14:50] RonnyPfannschmidt commented on #70
thanks for the detailed description

that part is already prepared in https://github.com/pypa/setuptools_scm/blob/master/setuptools_scm/git.py#L9

as a response to #62 and #63

i just haven't added a good way to pass scm specific parameters across

a little brainstorming on a sensible way to pass such patterns trough from setup.py into setuptools_scm is needed

i was thinking of adding a `scm_conf

[2015-12-04 14:55] RonnyPfannschmidt commented on #70
oh, an extra note - the section you reffered to is about changing the formatting of the version that setuptools_scm obtained, there currently is no support for passing a custom parsing function,

but its a nice idea to pass the parsing function as own configuration as well and i'll create a issue for that

[2015-12-04 14:59] RonnyPfannschmidt opened #71 "add keyword for a custom project specific scm parser"
in order to support people that use non-conforming ways to handle versioning
its helpfull to be able to manually override the version parser that gets the version from the scm

the idea is from #70 where grown from legacy systems are described that can create extra trouble

[2015-12-06 20:46] #70 closed, assigned to nobody

[2015-12-06 20:47] #71 closed, assigned to nobody

[2015-12-10 20:24] jaraco opened #72 "Unable to detect version on mercurial in a pre commit merge state"
With 1.10.0, setuptools_scm is failing to detect a version in one of my Hg projects:

[code]

If I change the version to 1.9.x, it works again.

[2015-12-10 20:27] jaraco commented on #72
Seems version detection is working in some cases:

[code]

[2015-12-10 20:30] RonnyPfannschmidt commented on #72
is the code availiable somewhere? i suspect this is a regression introduced in the scm parse mechanism

[2015-12-10 20:33] jaraco commented on #72
I'm beginning to think PEBCAK.

[2015-12-10 20:46] jaraco commented on #72
The issue seems to be with the merge. Here's a repro against a clean Hg repo:

[code]

[2015-12-10 20:48] RonnyPfannschmidt commented on #72
there is a bug in the hg output template in the merge state

[code]

[2015-12-10 21:06] RonnyPfannschmidt commented on #72
fixed in version 1.10.1

[2015-12-10 21:06] #72 closed, assigned to nobody

[2015-12-10 21:14] jaraco commented on #72
Confirmed. Huge thanks!

[2016-01-04 17:32] opoplawski opened #73 "Test failures on EL7"
I'm getting the following test failures on EL7:

[code]

With:
git-1.8.3.1-6.el7.x86_64
mercurial-2.6.2-4.el7.x86_64

[2016-01-04 17:53] RonnyPfannschmidt commented on #73
what setuptools version is availiable there? this looks like something went very wrong and the outdated setuptools detection is not triggering

[2016-01-04 18:02] opoplawski commented on #73
python-setuptools-0.9.8-4.el7.noarch

[2016-01-04 18:05] RonnyPfannschmidt commented on #73
that version is too old to properly supports setuptools_scm as of now,
its very low on my priority list to fix that, but i'm up for reviewing/discussing a pr

[2016-01-04 18:08] opoplawski commented on #73
Well, it's unlikely to be updated in EL7 any time soon, so it would be nice to at least have some level of support for it.  what would need to be changed/fixed?

[2016-01-04 18:15] RonnyPfannschmidt commented on #73
the main problem is lack of the version parser, which is used to sanely handle version number prefixes, details about correct version numbers and other details,

its tedious busywork with a lot of room for errors

[2016-01-04 18:16] RonnyPfannschmidt commented on #73
also note that actual sdists and wheels will not have any issue on EL7, its just the tag to version number transformation thats broken

an alternative to sanely handle it is to create a virtualenv with a reasonable version of pip/setuptools7wheel

[2016-01-06 19:41] RonnyPfannschmidt commented on #73
btw, this one relates to #61

[2016-01-13 06:32] brianmay opened #74 "setuptools objects to generated version string"
[code]

It seems to object to the '+' sign. This is with setuptools version 19.2

[2016-01-13 06:43] RonnyPfannschmidt commented on #74
Your traceback very clearly has setuptools 5.5.1, which is simply too old

[2016-01-13 07:14] brianmay commented on #61
Here is a work around that appears to work for me.

[code]

[2016-01-13 07:24] brianmay commented on #74
Ok, that is weird as version 5.5.1 works fine.

The above stack trace happened after running the following command, which I assumed should have resulted in the latest version being installed in the virtualenv.

[code]

Will continue investigating. Wonder if this is a setuptools bug.

[2016-01-13 07:27] brianmay commented on #74
Looks like the above pip command leaves behind `/tmp/bbb/lib/python-wheels/setuptools-5.5.1-py2.py3-none-any.whl` which needs to be manually deleted.

[2016-01-13 07:30] brianmay commented on #74
Closing as not a setuptools_scm bug.

[2016-01-13 07:30] #74 closed, assigned to nobody

[2016-01-13 08:01] RonnyPfannschmidt commented on #61
Without overriding local-scheme AS well, chances are this will break

[2016-01-13 08:49] brianmay commented on #61
Not sure I understand what you mean. Am just using the default version_scheme, just striping the leading "v". Haven't seen any breakage yet.

[2016-01-13 09:17] RonnyPfannschmidt commented on #61
a non-tagged version will cause a local version tag which is not supported by older setuptools versions

[2016-01-13 10:22] brianmay commented on #61
Maybe I still haven't understood your concern. If I use `setup.py sdist` and then extract the result into a directory with no git everything works fine (apart from some expected warnings). This is with setuptools 5.5.1 - in Debian stable:

[code]

[2016-01-13 10:24] RonnyPfannschmidt commented on #61
it seems it normalizes in that case, can you show me the output of setup.py --version

[2016-01-13 17:42] sean-abbott opened #75 "Use branch names to determine version bump"
In order to fit seamlessly with a developers workflow,setuptools_scm should be (optionally) branch aware, and be able to use the branch prefix in order to determine which version part to bump.

Which branch prefixes equate to which version parts should be configurable.  For a sane default, I'm thinking:

no prefix, unrecognized prefix, or bugfix/ == patch version bump (i.e., if master is tagged 1.

[2016-01-13 21:06] jaraco commented on #75
I'm generally in favor of this suggestion, especially given the wide adoption of "flow" (in Git and Mercurial), but even more in that the defaults are configurable to work with other branching methodologies. My preference would be for the default bump to be 0.1 (as far too many non-bugfix changes are released with an 0.0.1 bump), but I acknowledge that many projects would prefer the behavior as sp

[2016-01-13 21:20] RonnyPfannschmidt commented on #75
basically this entails a few new concepts
- configurable guessed bump granularity
- creating tags to bump/release

as for configurable bump granularity,
my suggestion would be to map regex patterns of branch names to increments

something like

[code]

comes to mind,
a few simple variations could be shipped

for bump commands, i see a need for 2 commands
one to bump development versions and one to

[2016-01-13 21:37] brianmay commented on #61
[code]

[2016-01-13 22:02] RonnyPfannschmidt commented on #61
i see, looks reasonable

just wondering, would you be up for providing a pull request ensuring setuptools_scm would at least take leading non-numeric characters away on old setuptools?

[2016-01-13 23:49] brianmay commented on #61
I will have a look.

[2016-01-16 18:28] sean-abbott commented on #75
I'm guessing that if I try and write a plugin for this, I should not use non-core libraries, like semanticversion?

[2016-01-17 06:29] RonnyPfannschmidt commented on #75
Im not sure a Plugin can easily provide the entry points and I suspect extra dependencies created trouble until the build tool pep will land

I proposed a brainstorming/discussion session before attempting

[2016-01-17 08:13] mrmachine opened #77 "How do I use `setuptools_scm` with Docker?"
I want to copy my working copy and `pip install -e .`, without the `.git` folder in the resulting image. But without the `.git` folder, `setuptools_scm` complains because it can't work out the version number to use.

[2016-01-17 13:19] jaraco commented on #77
I don't know the answer, but I would try one or two things:
- run setup.py egg_info on the project before copying without the .git metadata.
- create an sdist `setup.py sdist` and use the sdist (or expanded version thereof) instead of the raw files from the repo.

My guess/hope is that one of these operations will capture the version number from git.

[2016-01-17 23:03] mrmachine commented on #77
I'll give that `egg_info` suggestion a shot. In the meantime, I've worked around it with:

[code]

This just gives me a date stamped local version from 0, which isn't really accurate but at least it builds and gives me a ballpark idea about when the code came from.

I thought about using an sdist, but that's a bit of a PITA because I'd have to copy the sdist into the docker image in order to insta

[2016-01-18 08:49] RonnyPfannschmidt commented on #77
We already support version files, just not as source of truth

From my POV a good way to go would be to support local egg info as fallback source of truth

As for docker usage, I would suggest to use mounts for the file sources and temporary folders, so you won't clutter the image

[2016-01-18 08:55] #61 closed, assigned to RonnyPfannschmidt

[2016-01-18 10:41] mrmachine commented on #77
Could you elaborate on using mounts for file sources with docker?

The thing that gives me pause about using local egg info as a fallback source of truth is that as soon as you change one file and don't rebuild the local egg info, it's out of date and stale anyway. If it's not absolutely reliable, it's not really any better than just a date stamp or `0+dYYYYMMDD`.

I'd rather `setuptools_scm` mayb

[2016-01-18 11:02] RonnyPfannschmidt commented on #77
The idea of using egg-info as fallback is all about only using it when something liked git is not available

I consider it the task of the packager to script things so the metadata is not stale

The only metadata file we can reliably keep up2date is the cache-file

[2016-01-19 22:47] jbarlow83 commented on #77
I ran into this issue not by Docker but simply by trying to get a single version number whether my package is install via pip or as a git clone – not a complex case at all. I think it's pretty clear that this package needs to be able to produce the correct version number if the SCM is not present.

[2016-01-19 23:05] jbarlow83 commented on #77
I think it would be helpful if write_to generated a version.py that was capable of automatically figuring out the version dynamically. For example, try importing setuptools_scm and using SCM, and then fallback on the stored version with some kind of sanity check on the stored version. Then a program that needs to report its own version (e.g. command line tool --version) can import one file and tru

[2016-01-19 23:08] RonnyPfannschmidt commented on #77
@jbarlow83 please use pkg-ressources

[2016-01-19 23:17] mrmachine commented on #77
How? To get saved version from egg info when setuptools_scm fails? But it fails inside execution of setup(), so we have to add code to predict failure and not use setuptools_scm in that case? Can't setuptools_scm just fallback automatically? Or am I not understanding how we would use pkg resources?

[2016-01-19 23:32] jbarlow83 commented on #77
I can do this in my command line script (which is part of the package) and it seems to work.

[code]

That's pretty much what I want, in the sense that if I install my package into a test virtual environment it picks up the right version. However, in my development environment, it won't pickup the right version. I would have to do something like:

[code]

Sure, I can do all that, but in my view if

[2016-01-20 06:11] RonnyPfannschmidt commented on #77
@mrmachine that is the case I yet need to implement

@jbarlow83 its a reasonable downside that dev envs don't get the correct version metadata eagerly
Correct implementation within the constraints of python/setuptools seems to be a relatively large cost at little gain

But I wouldn't mind a good PR showing that I was wrong

[2016-01-20 06:34] mrmachine commented on #77
@RonnyPfannschmidt I agree it's reasonable that we don't get the correct version eagerly... However, I think `setuptools_scm` should still return _some_ version number when `setup.py` is run without access to the version control system, instead of crashing and burning and requiring users to dirty up their setup.py with `try/except` blocks and code that tries to predict `setuptools_scm` failure con

[2016-01-20 06:48] RonnyPfannschmidt commented on #77
We do crash and burn precisely because people did end up with wrong metadata on install from source

The example with 0 as fallback does not work for any package that is not a leaf in the dependency tree
Tracking the actual version as a fallback as well kind of defeats the purpose

There are already 2 standard formats to carry the version along - wheel and xdist

I don't consider supporting distri

[2016-01-20 07:02] mrmachine commented on #77
Fair points. I'm not sure I follow the recommendation to create a plugin. I'm probably just not familiar enough with `setuptools` and `setuptools_scm`. Would that be a `setuptools_scm` plugin?

Could it work with a source directory, e.g. a working copy, copied into the docker context without the `.git` directory, or would it need to be an archive of some sort?

Could it be made to add feature desc

[2016-01-20 08:30] RonnyPfannschmidt commented on #77
all you need is a entrypoint for `setuptools_scm.parse_scm_fallback`
pick a filename, use that as the entrypoint name and write a version to it and ensure that function returns that version + a dirty mark so the default date scheme will add a date

then you can either just put a `0` into it, or update it however you want - perhaps by adding a setuptools command, or jsust by a script, piping a vers

[2016-01-25 07:55] LocutusOfBorg opened #78 "can't build setuptools_scm on Debian jessie backports"
Hi, as said, I backported 1.8.0, but it doesn't build anymore with 1.10.1

e.g.

[code]

BTW I also cherry-picked commit ab3853e82e3ff76d12c560f5daebba4af25122bc but no luck

[2016-01-25 23:59] RonnyPfannschmidt commented on #78
Setuptools is too old, that test should be skipped based on the version

[2016-01-26 10:54] LocutusOfBorg commented on #78
is it something that upstream can fix, or should we fix it in Debian side?

[2016-01-26 10:59] LocutusOfBorg commented on #78
I tried on a jessie clean machine.
I built setuptools 1.10.1 with testsuite disabled, I installed newly built  python-setuptools-scm_1.10.1-1_all.deb and python3-setuptools-scm_1.10.1-1_all.deb
and rerun the build with testsuite enabled.

It fails:

[code]

[2016-01-26 11:08] RonnyPfannschmidt commented on #78
i think its sufficient to drop parse_version from that test and doing a release

[2016-01-26 12:02] LocutusOfBorg commented on #78
the question is: why it doesn't work?

[2016-01-26 15:01] RonnyPfannschmidt commented on #78
painfully old setuptools versions parse a version into a list of arcane strings with special meanings

[2016-01-26 15:03] LocutusOfBorg commented on #78
no. I tried a rebuild of setuptools_1.10.1 with an installed setuptools_1.10.1, how can it be old?
(am I missing something obvious?)

[2016-01-26 15:04] RonnyPfannschmidt commented on #78
i'm talking about setuptools, not setuptools_scm, the result of the parse_version function from setuptools clearly indicates a very old setuptools version, please take another look

[2016-01-26 15:13] LocutusOfBorg commented on #78
damn! thanks! I backported setuptools to jessie and now it builds fine!

[2016-01-26 15:13] #78 closed, assigned to nobody

[2016-01-30 23:06] yarikoptic opened #79 "1.10.1 tag is missing?"
https://pypi.python.org/pypi/setuptools_scm  has 1.10.1 release but here there is only 1.10.0 tag

[2016-01-30 23:08] yarikoptic commented on #78
@LocutusOfBorg is it coming to official debian backports? (ran into the same issue while trying to backport)

[2016-01-30 23:18] RonnyPfannschmidt commented on #79
Thanks for noting, I'll push it once I return to the computer

[2016-01-31 01:26] LocutusOfBorg commented on #78
yes, I backported python-setuptools, and now I'm backporting setuptools-scm.
It will take 5 days for the current version in unstable to reach testing, and then I'll backport it.
(we need to backport the testing version, so I have to wait for it to migrate, actually it should be already in deferred queue)

[2016-01-31 22:03] RonnyPfannschmidt commented on #79
pushed

[2016-01-31 22:03] #79 closed, assigned to RonnyPfannschmidt

[2016-02-17 06:43] jbarlow83 opened #81 "setuptools_scm fails if git is not available"
Related to issue #77. Separate from the issue of the `.git` folder being unavailable, if the `git` binary is not available on the system path, in the build environment, setuptools_scm fails with a stack trace. At least, I presume that's what happened. It would be helpful to have an error message that explains the situation.

[code]

[2016-04-03 04:15] brianmay opened #83 "Debian packaging issues"
It is common practise to take the PyPI source of a package and put it into another git with packaging for Debian.

However this confused setuptools_scm, it appears to look at the Debian git packaging instead of the correct upstream version stored in the *.egg-info/PKG-INFO file. Somehow it gets confused when it sees a list of tags like:

[code]

and thinks the next version should be something like

[2016-04-03 04:23] brianmay opened #84 "documented sphinx usage causes bad metadata on rtd"
Somehow readthedocs gets the wrong version when using setuptools scm.

I asked about this on stack overflow, however got 0 responses.

So asking here in case anybody here has any ideas.
http://stackoverflow.com/questions/35811267/readthedocs-and-setuptools-scm-version-wrong

[2016-04-03 13:47] jaraco commented on #84
I posted an answer there. Best I can tell, setuptools_scm is doing the right thing, reflecting a dirty state of the repository.

[2016-04-03 16:52] RonnyPfannschmidt commented on #83
starting with version `1.10.0` set the environment variable `SETUPTOOLS_SCM_PRETEND_VERSION`

[2016-04-03 17:02] RonnyPfannschmidt commented on #84
it might make sense to make readthedocs set an environment variable for us

i would also accept a tested pull request that makes setuptools_scm ignore the dirty state on readthedocs

[2016-04-04 07:54] brianmay commented on #83
Ok, that is a cleaner work around then the one I had. Thanks.

However just setting it to a predefined version number means I have the version hard coded and need to remember to update it.

Hmm... Something like the following might work, what do you think?

[code]

[2016-04-04 08:15] brianmay commented on #83
In Makefile syntax that should be:

[code]

[2016-04-04 08:21] RonnyPfannschmidt commented on #83
off hand no idea, i'm not a make/shell magician - should be fine if it works

[2016-05-13 17:36] kinghajj opened #86 "Dirty working directory not being correctly detected when tags are missing"
I'm working with a "big repo" with many libraries/services. One service, "tasks," references the "model" library in its requirements.txt

[code]

If I run

[code]

Then the generated wheel in ~/.pex/build is called `model-0.1.dev239+n6e5cad8-py2-none-any.whl`, which doesn't have the timestamp that the documentation suggests, despite the fact that the repository is dirty:

[code]

[2016-05-13 17:49] RonnyPfannschmidt commented on #86
at first glace that looks like a problem with git describe interpretation

whats the output of git describe? also please run the `SETUPTOOLS_SCM_DEBUG=1' python setup.py --version`

[2016-05-13 17:54] kinghajj commented on #86
[code]

Which apparently is caused by not having any tags--which is expected, since this is a fairly new repo. Maybe that requirement should be mentioned in the documentation? Thanks for the help.

[2016-05-13 18:05] RonnyPfannschmidt commented on #86
no, thats actually a bug - the handler for nothign to describe doesnt check if there is changes in the workdir

[2016-05-19 22:11] wcooley opened #87 "support the parsing of custom tag styles"
We tag our releases with "**tag/x.y.z**" (don't ask), which causes an _AssertionError_ in `setuptools_scm/version.py/meta()` because `pkg_resources.parse_version` returns _None_ in `tag_to_version`.

All I need is to filter my tag to trim those 4 characters from the beginning: `lambda tag: tag[4:]`,
which makes re-implementing `parse` a bit overkill.

As an experiment, I've monkey-decorated `meta`

[2016-05-20 05:48] RonnyPfannschmidt commented on #87
please show the exception

[2016-05-20 19:13] wcooley commented on #87
Are you suggesting that it should be able to handle a tag like "tag/1.0.0"?

My description was a _bit_ wrong; `pkg_resources.parse_version` returns an instance of `SetuptoolsLegacyVersion` instead of `SetuptoolsVersion`:

[code]

So the `if isinstance(version, SetuptoolsVersion):` in `tag_to_version` fails and falls off the end and `tag_to_version` returns `None`. Here's the backtrace:

[code]

(

[2016-05-21 08:03] RonnyPfannschmidt commented on #87
ok, i understood the actual issue

with the current parsers in setuptools, only version tags using direct versions and versions using the `v` prefix are supported

i'm reluctant to add this kind of cleanup myself, since one of the key ideas behind this too is to standardize on something everyone can use without modifications,
now if everybody comes along and puts in another hook to support yet ano

[2016-05-21 18:10] jaraco commented on #87
I recognize the necessity to encourage best practices, but I'd be in favor of an opt-in hook that provides arbitrary logic, such that for a project (or team) that doesn't follow these practices, there's a straightforward workaround. There's still incentive for them to move to best practices to eliminate the use of this hook. I imagine something like:

[code]

Setuptools_scm would discard any tags

[2016-05-21 18:17] RonnyPfannschmidt commented on #87
@jaraco with your proposed naming i see less of a problem with the addition

[2016-06-03 16:05] mr-rodgers opened #88 "README suggestion for getting version in Sphinx seems incorrect"
The readme suggests this for getting the version from `conf.py` in Sphinx:

[code]

However, on the latest PyPI versions of Sphinx and setuptools_scm, I get:

[code]

It's looking for the version info in the docs folder where conf.py resides! (Maybe sphinx sets the working dir to this; I'm not sure of that though).

An easy fix would be to use this instead:

[code]

[2016-06-03 18:43] jaraco commented on #88
Actually, even that only works if docs are built from the docs directly and not from the project root. The recommendation should be:

[code]

[2016-06-12 16:43] mr-rodgers opened #89 "Doesn't work even when inside a git repository"
I'm not sure what's causing this; maybe you guys'll know better;

[code]

I only recently started seeing this after cloning the repo to a fresh setup.

[2016-06-12 17:07] RonnyPfannschmidt commented on #89
looks like a windows platform issue

whats the output of `git describe` ?

[2016-06-12 17:09] mr-rodgers commented on #89
Wait, what?

[code]

...so very much not a setuptools_scm issue then (I'm pretty sure this repo has a few tags that I've previously set).

[2016-06-12 17:16] RonnyPfannschmidt commented on #89
@te-je
 please also take a look at the debug output and tell me the version of setuptools_scm you use, it should indicate a bit better what is wrong since you do have a git repo there

debug output can be obtained via SETUPTOOLS_SCM_DEBUG=1 in the environment (i have no idea how to set that on a windows terminal) in case of doubt

[code]

as first line in setup.py

[2016-06-12 17:20] mr-rodgers commented on #89
Here it is:

[code]

[2016-06-12 17:24] RonnyPfannschmidt commented on #89
that gives no further idea, im under the impression something doesnt happen on windows

does the repo have any tags at all? (if not, then setuptools_scm should report something like `0.1.devXXX`)

[2016-06-12 17:48] mr-rodgers commented on #89
RIght so I pulled the tags from GitHub and I'm still getting this:

[code]

I'll test this on my Linux setup later with this same repo and report whether it works there, just to confirm that this is indeed a Windows thing.

[2016-06-12 18:33] RonnyPfannschmidt commented on #89
unfortunately i currently dont have a windows bug, i'm not sure how to test/verify yet

[2016-06-12 19:54] mr-rodgers commented on #89
Hi, after some digging around, I found what this issue was: https://github.com/pypa/setuptools_scm/blob/f5390e98b426da854838738c86a48b87742e259d/setuptools_scm/git.py#L15

real_root and root are different on my system, because `C:\Users\scrut\code` on the filesystem is actually `C:\Users\scrut\Code`. `git rev-parse --show-toplevel` capitalizes `Code` to match the canonical name, while `abspath` ca

[2016-06-12 20:36] RonnyPfannschmidt commented on #89
i#d appreciate such a pr

[2016-06-12 20:37] #88 closed, assigned to nobody

[2016-06-12 20:55] #89 closed, assigned to nobody

[2016-08-07 12:02] anthrotype opened #92 "add a semver based version scheme and a way to decide the emcrement"
Hello,

The README.md says that:

Are you planning to implement this SemVer-compatible behavior any time soon?
I would like to omit an extra '0' patch number when tagging a minor release, e.g. '2.6' instead of '2.6.0', but still have setuptools_scm increment the last digit, '2.6.1.dev...'

I guess one could already do this by passing a custom entry point or callable as `version_scheme`, though I'l

[2016-08-07 17:31] anthrotype opened #93 "Travis clones shallow repo, breaks git describe"
Hi,
Maybe this is obvious for many of you. However, I spent more than one hour trying to figure out why setuptools_scm was not working on Travis, but it was working locally.
It turned out that Travis clones the repo with --depth=50, so if you have more than 50 commits since the last tag the `git describe` command fails, and setuptools_scm will use the fallback `0.0` version.

The workaround was si

[2016-08-07 20:34] RonnyPfannschmidt commented on #92
there are no immediate plans due to personal time constraints and the tool working fine for me

[2016-08-09 07:44] pombredanne opened #94 "Cannot build package from a github download"
See https://github.com/django-guardian/django-guardian/issues/445
@brianmay wrote there:

There are many cases where
- I cannot wait for some official release
- I do not have git installed on the installation machine

This is rather annoying.
Should this tools be avoided for git repos?

Is the only way in these cases for a git-using lib using setuptools_scm to maintain a fork?

[2016-08-09 10:35] RonnyPfannschmidt commented on #94
if you need custom releases, just set up a devpi server and push sdists/wheels ?

[2016-08-09 11:53] jaraco commented on #94
Other options include setting up the project with a fallback version (so it still builds), working with github to inject the necessary metadata into downloads (last tag on the branch, distance from that tag, and hash of current head), or building a plugin that loads that metadata from github rather than relying on the info in the tar ball downloaded.

[2016-08-09 12:22] pombredanne commented on #94
@RonnyPfannschmidt you wrote:

You are suggesting to replace a simple fetch from a URL by setting up a whole dedicated infrastructure? I am not sure this is worth it.

[2016-08-09 12:23] pombredanne commented on #94
@jaraco the idea of a fallback version makes makes a lot of sense. @brianmay what do you think?

[2016-08-09 13:35] jaraco commented on #94
See https://github.com/Crunch-io/pycrunch/pull/17, where I'm proposing using setuptools_scm for a project which has a similar use-case.

[2016-08-09 15:27] pombredanne commented on #94
@jaraco thanks . This is simple enough. I am still not sold with such a complex version number management process but I could live with a project of someone else using it this way at least ;) ... though the unknown version hardcoded would benefit to be updated to an actual meaningful version IMHO

[2016-08-10 09:49] RonnyPfannschmidt commented on #94
the process isnt complex - and mercurial can support tarballs just fine,

its simply that git is kind of crappy and has no way to include the relevant metadata in a meaningful way in the archive - its purely a git issue where git is very bad with metadata - and we cant fix it easily

[2016-08-15 09:11] brianmay commented on #94
@jaraco It looks like you solve the problem by using setuptools_scm_git_archive, correct?

https://pypi.python.org/pypi/setuptools_scm_git_archive

My reading of this is that github will substitute the version number in .git_archival.txt for any *.zip file download, and this will be used if setuptools_scm cannot get the version from git. Have I understood this correctly?

[2016-08-15 09:18] RonnyPfannschmidt commented on #94
the problem is, that it can only ever work correct for tags

[2016-08-15 09:19] RonnyPfannschmidt commented on #94
git has no way to make archives with a complete describe output embedded, its pretty much cripleing

[2016-08-15 09:46] odinho opened #95 "How to set `download_url` inside setup.py file when it requires the tag?"
Hello, I have a setup.py that looks something like this (for fictional project myname):

[code]

The `v0.5.1` is what I use to tag it as version 0.5.1.

I found out when making a release that I couldn't easily have all the data in just the tag, because I get this problem of needing the version number in other fields in the setup.py.  Here for the download URL for saying where people can get this s

[2016-08-15 09:48] untitaker commented on #95
Why do you want to set this URL in the first place?

[2016-08-15 10:00] brianmay commented on #94
@RonnyPfannschmidt In which case, can you explain the purpose of setuptools_scm_git_archive? What does it do?

[2016-08-15 10:02] RonnyPfannschmidt commented on #94
the implementor wanted support for downloading from git tags, that part works fine

if git ever gets sensible metadata it can be extended to support all downloads

but as is, git is simply broken by design and we cant help it

[2016-08-15 10:05] RonnyPfannschmidt commented on #95
https://github.com/Changaco/setuptools_scm_git_archive fixes the issue for abusing github tags for releases

please consider pypi or a devpi instance to publish annotated sdists and wheels alongside

[2016-08-15 10:06] RonnyPfannschmidt commented on #95
also see the travis.yml of setuptools_scm itself for a way to automate releases on tags

[2016-08-15 10:06] RonnyPfannschmidt commented on #95
please close if the answer is sufficient

[2016-08-15 10:29] odinho commented on #95
I am already publishing to `pypi`, both wheels and sdist's.  But I merely want to fill in all the metadata fields, and one of those is the `download_url`.

Just not having that field is a possible fix too.

I asked the question because I couldn't find any other questions/answers about this subject.  So now there is.

[2016-08-15 10:29] #95 closed, assigned to nobody

[2016-08-15 10:32] untitaker commented on #95
FWIW I've never seen this field filled out in practice.

[2016-08-15 10:40] RonnyPfannschmidt commented on #95
@odinho the download_url field no longer makes sense as pypi metadata, as external downloads got removed due to regular missuse and issues

[2016-08-15 10:46] odinho commented on #95
Okay, awesome :)  I've removed it.

Maybe it'd be helpful with a note about that in the pypa docs.  Not sure how many don't know this like me though, but it's not fully obvious how to use that field (or not use it) for people new to python packaging.

[2016-08-15 10:49] RonnyPfannschmidt commented on #95
@odinho  please report an issue at that repo and/or open a pr, its a volunteer effort largely ^^

[2016-08-15 19:31] thmo opened #96 "Support for git submodules"
A project `foo` that is checked out as a git submodule of another project, has a `.git` (a file!) that looks like this:

[code]

Now, when doing a `pip wheel .` in foo, everything gets copied to a fresh directory in `/tmp`, including the `.git` file, but as this carries a relative link, git fails, and subsequently setuptools_scm fails:

[code]

I am not sure if this is a wheel or a setuptools_scm

[2016-08-15 20:13] RonnyPfannschmidt commented on #96
definitively the combination of wheel/git - setuptools-scm cant do anything about that copy process itself, its bascially the victim

is there other metadata around?

[2016-08-16 09:38] thmo commented on #96
Not sure what you mean here.

[2016-08-16 09:39] RonnyPfannschmidt commented on #96
as in is there any way to figure whats wrong there

[2016-08-16 09:41] thmo commented on #96
You mean if the user is provided with enough information as to know what's going on? Not sure about that. The effects are somewhat similar to #77 and #81.

[2016-08-16 09:54] RonnyPfannschmidt commented on #77
closing this one due to lack of further discussion, ping me if you think that decission was wrong

[2016-08-16 09:54] #77 closed, assigned to nobody

[2016-08-16 09:55] thmo commented on #96
Created a wheels ticket here: https://bitbucket.org/pypa/wheel/issues/173/support-for-git-submodules

[2016-08-16 09:56] RonnyPfannschmidt commented on #73
closing since its a old setuptools on dev env issue - as alternative try an use the `SETUPTOOLS_SCM_PRETEND_VERSION` env var

[2016-08-16 09:56] #73 closed, assigned to nobody

[2016-08-16 09:57] RonnyPfannschmidt commented on #96
its not a bug in the wheel tool, is a bug in pip

[2016-08-16 09:57] RonnyPfannschmidt commented on #94
closing this issue as broken upstream (git)

[2016-08-25 16:40] jaraco opened #97 "Fails to detect version on hg-git checkout"
As the world moves to git and I'm still straggling behind using Mercurial, I often check out a git repo with hg-git. However, if I'm trying to build a package with setuptools_scm on a repo where tags were added in Git, it will fail to detect the tags, even though hg-git reports them:

[code]

The issue, I believe, is that setuptools_scm [disables hg-git when bypassing hgrc](https://github.com/pypa

[2016-08-25 19:06] RonnyPfannschmidt commented on #97
Unfortunately i did not document why the `do_ex` Funktion limits the hgrcpath to the current repo

After recovery from illness I can take a look at doing a major release changing that default

[2016-08-25 19:17] jaraco commented on #97
Thanks. Feel better, and no rush.

[2016-08-29 16:22] #97 closed, assigned to nobody

[2016-08-29 16:24] RonnyPfannschmidt commented on #97
@jaraco please verify this was enough - i might need to add some extra output handling for hg errors

[2016-08-30 20:41] #69 closed, assigned to nobody

[2016-09-02 16:19] jaraco commented on #97
Confirmed - at least for the use case provided, this change works like a charm.

[2016-09-16 22:30] peterbrittain commented on #84
This is a great package!  Shame about this issue, though...

I've just ported my project to use setuptools_scm and fallen foul of it.  It took me a while to figure it out and then find this write-up.  I would have greatly appreciated a warning on your project readme where you recommend the sphinx setup, especially given that RTD is so prevalent.

Also, if you are thinking of possible workarounds,

[2016-09-17 05:21] RonnyPfannschmidt commented on #84
@peterbrittain thanks for your suggestion, unfortunately it does not quite fit, since relative_to tells the root folder and not the relative file

also its hard to correctly do this for other scm's (and even for git it is hard)

i am thinking of updating the docs to get people to always use pkg_resources in sphinx configuration
as well as documenting its use and discouraging use in the conf.py of

[2016-09-17 10:00] peterbrittain commented on #84
Not quite sure that's right about `relative_to`.  The docs say we should pass in `__file__` which is the full file name, not just the path.  Of course, that doesn't fix the SCM difficulties, so may not be any help...

Given that, it sounds like another source for the docs version (as per your current proposal) might be a better way forwards.  Just one further thought: what would this mean for peop

[2016-09-17 10:51] RonnyPfannschmidt commented on #84
there should be no actual difference, at least thats what i currently believe,

im not sure if i get to this today

[2016-09-18 17:56] jaraco commented on #84
Looks like RTD [does provide an environment variable](http://read-the-docs.readthedocs.io/en/latest/faq.html#how-do-i-change-behavior-for-read-the-docs). Setuptools_scm could work around this issue by ignoring the dirty flag when that env var is present.

The downside of this approach is it requires the project to be built and nominally installed (egg-info in `.` is sufficient) to build the docs,

[2016-09-18 19:44] RonnyPfannschmidt commented on #84
@jaraco i am strictly opposed to hacking in a number of special env vars

[2016-09-19 07:19] RonnyPfannschmidt commented on #96
closing this one as breakage caused by a upstream project

[2016-09-19 07:19] #96 closed, assigned to nobody

[2016-10-04 16:24] anarcat opened #101 "SETUPTOOLS_SCM_PRETEND_VERSION doesn't write_to"
if SETUPTOOLS_SCM_PRETEND_VERSION is specified, setuptools_scm doesn't `write_to`.

this is because of the last few lines of `__init__.py`:

[code]

it seems to me dump_version() should be ran anyways, no?

[2016-10-04 16:53] RonnyPfannschmidt commented on #101
this was to avoid some issues with archives,

i think it no longer holds true, i'd welcome a fix else i'll try to fix it until the weekend

[2016-10-05 14:13] anarcat commented on #101
i'm on it.

[2016-10-05 14:26] anarcat commented on #101
see #102.

[2016-10-05 14:33] #101 closed, assigned to nobody

[2016-10-05 16:43] ghost opened #103 "Invalid syntax in generated version.py"
A package I use is distributed through Mercurial and uses setuptools_scm with setup.py like this

[code]

The resulting version.py is not valid python:

[code]

The issue did not occur before today, it seems that it is caused by v1.12.0 release.

[2016-10-05 16:51] untitaker commented on #103
Same issue here.

[2016-10-05 16:56] RonnyPfannschmidt commented on #103
yikes, in response i pulled the release of pypi, i am now working on a fixup

[2016-10-05 17:05] untitaker commented on #103
BTW this reordering creates the issue: https://github.com/pypa/setuptools_scm/commit/80565e3364f86f33be05d7d07be427f480f10d6a#diff-cc3eb8241d67f6487179a3c8976e128eR107

`format_version`'s rv is not used for `dump_version`.

[2016-10-05 17:19] RonnyPfannschmidt commented on #103
i am aware, i'm testing the fix and i started Hungarian notation (parsed_version vs version_string) plus type assertions

[2016-10-05 17:20] anarcat commented on #103
ouch, sorry - my bad. i assumed that since tests passed, things were okay. looks like the test suite was incomplete!

[2016-10-05 17:22] RonnyPfannschmidt commented on #103
@anarcat @untitaker please take a look at the pr

[2016-10-05 17:24] untitaker commented on #103
Fix lgtm. No tests though :P

[2016-10-05 17:31] RonnyPfannschmidt commented on #103
i#ll fix in a different manner

[2016-10-05 17:36] RonnyPfannschmidt commented on #103
the result of parse will always be a parsed version now

[2016-10-05 19:26] RonnyPfannschmidt commented on #103
fixed in #104

[2016-10-05 19:26] #103 closed, assigned to nobody

[2016-10-06 16:31] LuisBL opened #105 "Can not get "no distance and clean" version"
I try to release a new version: 5.0,
So I tag:

[code]

git describe is:

[code]

I'm expecting as explain in : [setuptools_scm](https://github.com/pypa/setuptools_scm)
to get:
`no distance and clean:
    {tag}`
but I get:

[code]

As you can see::

[code]

Same with a x.y.z version:

[code]

 I'm using setuptools_scm_git_archive so I report this too.

[2016-10-06 20:57] RonnyPfannschmidt commented on #105
`git describe --dirty --tags --long` please

_edit_

the output indicates your workdir is dirty

[2016-10-07 06:56] LuisBL commented on #105
yes

[code]

[2016-10-07 07:50] RonnyPfannschmidt commented on #105
then this is not a bug, but the state of your workdir

[2016-10-07 07:50] #105 closed, assigned to nobody

[2016-10-10 19:11] RonnyPfannschmidt commented on #83
@brianmay any opinion on having way to declare a cleanup function for the tags?

that way you could generate versions that spell +Debian as local versions that indicate patches

[2016-10-11 08:09] brianmay commented on #83
pybuild, the modern tool for building Debian packages, now automatically sets `SETUPTOOLS_SCM_PRETEND_VERSION` based on the latest entry in debian/changelog.

Possibly a change like this could help some people; for my work flows however I think I just make sure the appropriate version is in the latest debian/changelog entry.

[2016-10-11 08:34] RonnyPfannschmidt commented on #83
@brianmay i see, can this one be closed then?

[2016-10-11 08:43] RonnyPfannschmidt commented on #86
closed by   d041864

[2016-10-11 08:43] #86 closed, assigned to RonnyPfannschmidt

[2016-10-11 19:30] RonnyPfannschmidt opened #107 "empty history results in distance None"
`1.11.1` gets `0.0` there
recent releases get `0.1.dev0+nnone.d20161011)`

[2016-10-12 20:33] #107 closed, assigned to nobody

[2016-10-13 02:29] jaraco opened #109 "untracked files in git are creating dirty state"
In Mercurial and in Git prior to the fix for #86 released with setuptools_scm 1.13.1, untracked files would not cause a `dirty` state, but since 1.13.1, they do.

[code]

My opinion and the expectation of environments based on past behavior is that untracked files shouldn't create a dirty state. Only modified files or perhaps staged files should cause the project to detect as dirty. The `git descr

[2016-10-13 02:31] jaraco commented on #109
This issue is causing the [automatic deployment of my projects](https://travis-ci.org/jaraco/rwt/jobs/167231449) to fail where it worked before. I can probably try to figure out which files get created and add them to .gitignore, but I'd rather avoid that if I can. I have some projects where there are many files generated that are meant to be included in the package (because they're specifically m

[2016-10-13 06:44] #109 closed, assigned to nobody

[2016-10-13 07:02] brianmay commented on #83
Ronny Pfannschmidt notifications@github.com writes:

## Probably - I don't see why not.

Brian May brian@linuxpenguins.xyz
https://linuxpenguins.xyz/brian/

[2016-10-13 07:17] RonnyPfannschmidt commented on #83
thanks

[2016-10-13 07:17] #83 closed, assigned to nobody

[2016-10-13 14:32] jaraco commented on #109
Thanks!

[2016-10-18 17:35] cclauss opened #112 "PyPI trove classifieds do not match what is in setup.py"
https://github.com/pypa/setuptools_scm/blob/master/setup.py#L110-L113

Tools that use PyPI data can not automatically determine if setuptools_scm is Python3 compatible.

[2016-10-18 17:45] RonnyPfannschmidt commented on #112
So what should I put there?

[2016-10-18 17:46] RonnyPfannschmidt commented on #112
Feel free to just open a PR with better values :)

[2016-10-18 17:55] cclauss commented on #112
In fact, the problem is not what is in this repo.  Instead, the PyPI record at https://pypi.python.org/pypi/setuptools_scm is missing the trove classifiers that are in setup.py.  Compare the text at the very bottom of that page with the previous version https://pypi.python.org/pypi/setuptools_scm/1.13.0 where the trove classifiers were correct.

[2016-10-18 18:18] RonnyPfannschmidt commented on #112
it seems that the release process needs an updated script

[2016-10-19 13:55] 0-wiz-0 opened #114 "pypi distfile for 1.14.0 has weird egg name"
The pypi distfile for setuptools_scm-1.14.0 installs an egg with the name:
setuptools_scm-1.14.1.dev0+ng7961046.d20161012-py3.5.egg-info

I expected:
setuptools_scm-1.14.0-py3.5.egg-info

Please fix this.

[2016-10-19 14:40] RonnyPfannschmidt commented on #114
please provide context on how you did install that

[2016-10-19 15:22] 0-wiz-0 commented on #114
I installed it using pkgsrc, but it doesn't matter, it's easily reproducible outside:

[code]

[2016-10-19 15:30] RonnyPfannschmidt commented on #114
please run `setup.py --version` with `SETUPTOOLS_SCM_DEBUG=1`

[2016-10-19 15:35] jaraco commented on #114
I've observed this also.

[2016-10-19 15:37] 0-wiz-0 commented on #114
[code]

[2016-10-19 15:38] RonnyPfannschmidt commented on #114
@0-wiz-0 with the env var set please, i need the debug output

@jaraco the sdist has the correct version, so it shouldn't be looking into other things - i suspect a interaction/env bug that i would like to isolate (i cant replicate it atm)

[2016-10-19 15:40] 0-wiz-0 commented on #114
Sorry, there is no additional debug output. See above.

[2016-10-19 15:44] RonnyPfannschmidt commented on #114
i debugged further and can confirm, that `python -c 'import setuptools_scm;print setuptools_scm.get_version()'` iscorrect while `python setup.py --version` is not

i am investigating the reasons

[2016-10-19 15:56] RonnyPfannschmidt commented on #114
i found the reason and my mistake

it seems there a interaction issue between travis deploy and setuptools_scm
so while generating the sdist, a part of the metadata was deliberately broken,
so the PKG-INFO/ was correct, and the static metadata in 'setup.py' got incorrectly overwritten

i will have to investigate why that metadata seemingly changed mid-execution

should i pull the sdist release?
th

[2016-10-19 16:45] nicolinux commented on #55
@SnarkBoojum I have the same issue - can you elaborate on the setuptools-scm problem?

[2016-10-19 16:50] RonnyPfannschmidt commented on #55
use `python setup.py develop`?

[2016-10-19 16:58] nicolinux commented on #55
No, not really.
My problem was that I tried to use the `tmpdir` fixture and pass it directly without converting it to a string.

[2016-10-19 17:32] jaraco commented on #114
From my perspective, no reason to pull the release. Severity of this behavior is minor in my opinion.

[2016-10-20 17:06] #114 closed, assigned to nobody

[2016-10-20 17:38] RonnyPfannschmidt commented on #84
for sphinx the usage via pkg_resources is now documented

[2016-10-20 17:38] #84 closed, assigned to nobody

[2016-10-20 21:19] jaraco commented on #114
I've [tested a release with setuptools_scm-1.15.0rc1](https://travis-ci.org/jaraco/backports.method_request/jobs/169359379) and it worked just fine. Between this and other fixes, I'm eager to see a final release.

[2016-10-20 21:30] #81 closed, assigned to nobody

[2016-10-20 21:47] RonnyPfannschmidt commented on #112
will be testing a new upload procedure for 1.15.0

[2016-10-20 21:56] RonnyPfannschmidt commented on #112
fixed in https://pypi.python.org/pypi/setuptools_scm/1.15.0 - but may come up again

[2016-10-20 21:56] #112 closed, assigned to nobody

[2016-10-20 22:02] RonnyPfannschmidt commented on #93
@anthrotype  its now possible to use the specification of a parse function to import and use the strategies from #93, i'd appreciate feedback on its use/utility (its completely experimental)

[2016-10-21 06:14] cclauss commented on #112
Thanks.  The setuptools_scm project is in the top 200 most downloaded PyPI packages and its status is back to green on https://python3wos.mybluemix.net/

[2016-10-21 11:40] dpboard opened #121 "get_version() does not work when called from iPython"
I have noticed that `get_version()` doesn't seem to work when run from within [iPython](https://ipython.org/). I guess this could be more of a limitation of iPython rather than a problem with setuptools_scm, but just thought I would raise it.

Very simple example code:

[code]

Works great in regular python interpreter, however it does **not** work in iPython (but only once my package has actually

[2016-10-21 11:58] dpboard commented on #121
Sorry, after a bit more experimentation, I've found I get the same error using the regular python interpreter, but from outside my working directory (but with my 'dave' package installed in the virtual env), so not specifically when using iPython.

[2016-10-21 12:51] jaraco commented on #121
The get_version API is only meant to be invoked to get a version from an SCM checkout. You wouldn't expect it to work on the installed package. For an installed package, you should use pkg_resources, similar to how the README describes for Sphinx.

[2016-10-21 12:51] #121 closed, assigned to nobody

[2016-10-21 12:58] RonnyPfannschmidt commented on #75
@sean-abbott - with recent enhancements, this is the next thing i#d like to implement, are you up for a design discussion/brainstorming?

also a ping to @jaraco wrt the same

[2016-10-21 13:07] dpboard commented on #121
Thank you @jaraco, works for me.

[2016-10-21 14:00] anthrotype commented on #93
This works well for me, thank you.
I wonder, why not making `fetch_on_shallow` as the default, rather than `warn_on_shallow`?

[2016-10-21 14:13] RonnyPfannschmidt commented on #93
@anthrotype its not the default, because it incurs uncontrolled network traffic potentially at build time

as such its a behavior where i'd rather go for an error than go for a implicit git pull

[2016-10-21 14:18] anthrotype commented on #93
I see. I guess you could close this issue then.
Thank you.

[2016-10-21 14:27] #93 closed, assigned to nobody

[2016-10-24 09:21] RonnyPfannschmidt opened #122 "include current branch into metadata parsed from the scm"
that way people can use it for custom version schemes without going for tricky apis

[2016-10-24 09:22] RonnyPfannschmidt opened #123 "explicitly document the internal nature of the git pre_parse api parameters"

[2016-10-24 09:25] RonnyPfannschmidt opened #124 "add a bump version command"
there should be a builtin command that enables to create actual tags
it should solve the simple use-case, and perhaps provide connected tooling for a more complex use-case

[2016-10-24 14:29] jaraco commented on #124
How would you imagine this command would work? Something like how [bumpversion](/peritus/bumpversion) works, except under `setup.py` but presumably without re-writing any files (only handling tags)?

[2016-10-24 15:10] RonnyPfannschmidt commented on #124
@jaraco the idea is to provide a command that only creates a tag and maybe pushes it

the main idea is to ease creating signed/annotated tags

[2016-10-26 15:42] jaraco opened #126 "AttributeError when last tag is post release tag"
Consider this minimal example:

[code]

The regex on line 97 fails to match the tag `23.24post22+deadbeef`.

 Is it possible that regex could be more lenient, or that tags that don't match the expected pattern should be ignored?

[2016-10-26 15:44] jaraco commented on #126
The issue goes away if the tag doesn't include the `+deadbeef`.

[2016-10-26 16:06] RonnyPfannschmidt commented on #126
indeed, guessing the next version currently does _not_ support local tags in the tag name

in fact setuptools_scm currently does not support own local parts

[2016-10-26 16:08] jaraco commented on #126
I'm working to devise a solution, in [the issue-126 branch](/pypa/setuptools_scm/tree/issue-126).

[2016-10-26 16:10] RonnyPfannschmidt commented on #126
please open a pr for ease of review

[2016-10-26 18:39] RonnyPfannschmidt opened #128 "correct either documentation or behaviour of having a custom parse function"
in #118 a behaviour issue was discovered when using a custom parse function

since parse functions do not return `None` when invoked on a invalid root,
exceptions happen

thanks to @anthrotype for pointing this out and investigating a applicable workaround in https://github.com/anthrotype/booleanOperations/commit/74757f3e4b6eae77f51940641d2f9224297ed0a9

[2016-10-27 05:23] #126 closed, assigned to jaraco

[2016-11-15 02:57] jaraco opened #129 "Package installs as 0.0.0 on Python 3.7"
Originally reported as pytest-dev/pytest-runner#23.

Consider this minimal package:

[code]

Installing it under Python 3.7, the version of setuptools_scm isn't detected during install.

[code]

[2016-11-15 08:37] RonnyPfannschmidt commented on #129
there is no python 3.7 egg published, it should be able to fall back to the sdist, whats happening there?

[2016-11-15 08:43] RonnyPfannschmidt commented on #129
actually it did fall back to the sdist, i strongly suspect the setuptools sandbox breaks setuptools_scm finding its own metadata (which didnt happen with pip)

on the grand scale of things yet another reason to kill easy_install
its not clear how to fix it nicely
without bringing back the change that made the travis pypi deploy missbehave

the quickest fix is probably uploading a python 3.7 egg (s

[2016-11-24 19:20] reece opened #131 "Q: How to use setuptools_scm in setup.py in nested directory?"
Brief: I'd like to use setuptools_scm in a setup.py within a sudirectory of the repo. I'm aware of the `version = get_version(root='..', relative_to=__file__)` instructions, but this won't work unless setuptools_scm in manually installed first because it's evaluated before the `setup_requires` packages are installed. Is there a way to get the `use_scm_version=True` ease-of-use within a subdirector

[2016-11-24 19:41] reece commented on #131
Here's the best I've come up with so far:

[code]

The intent is to defer importing setuptools_scm and to provide the necessary dunder methods (for develop mode installation, at least).

The problem with this is that setuptools says this:

[2016-11-24 20:24] RonnyPfannschmidt commented on #131
@reece keyword arguments for get_version can be passed as dict to use_scm_version

[2016-11-24 20:29] RonnyPfannschmidt opened #132 "document extended setup.py usage more comptehensive"
that #131 was asked indicates my Readme is not good enough and needs to be enhanced

i came up with the hypothesis that for a new user passing a mapping is not at all intuitive and needs examples that ease intuitively understanding that way of using setuptools_scm

[2016-11-24 20:30] RonnyPfannschmidt commented on #131
@reece i created #132 as a followup to enhance the documentation, please provide some feedback if this answers your question or if you need more/an example

[2016-11-24 23:29] reece commented on #131
Yep, answers the question. Submitted PR #133 to add docs. Closing this question. Thanks Ronny!

[2016-11-24 23:29] #131 closed, assigned to nobody

[2016-11-25 17:59] reece opened #134 "Regression: get_version works for 1.10.1 and 1.11.1, but not 1.13.1"
# Summary

setuptools_scm 1.13.1 fails for several of my projects. 1.10.1 and 1.11.1 worked fine. The ultimate error is (full traceback below):

[code]

Python 3.5.2, Ubuntu 16.04, various versions of setuptools_scm (see below).

This error appears to occur only for head revisions on several repos. Affected repos use hg-git, although I have no evidence that that's related.

# Reproduction

[code]

[2016-11-25 20:22] RonnyPfannschmidt commented on #134
please run with `SETUPTOOLS_SCM_DEBUG=1` in the environment

[2016-11-26 06:45] reece commented on #134
[code]

I don't know why there's a default/default/master tag, but I'd guess it's user (ie. my) error when setting the master bookmark for hg-git.

[2016-11-27 08:47] RonnyPfannschmidt commented on #134
Is the repo public? ID like to try and reproduce locally

[2016-11-27 16:22] reece commented on #134
Yep. It's public. Thanks for investigating.
I had demonstrated to myself on a fresh checkout prior to posting, so my expectation is that you'll be able to reproduce it fairly easily.

[2016-11-27 16:25] RonnyPfannschmidt commented on #134
Please link

[2016-11-27 18:23] #132 closed, assigned to nobody

[2016-11-27 19:32] RonnyPfannschmidt commented on #134
oh, wait there is a link

[2016-11-27 19:39] RonnyPfannschmidt commented on #134
@reece what versions of mercurial/hg_git are you using?

[2016-11-27 20:04] RonnyPfannschmidt commented on #134
@reece can you also test against master, it may be possible that i accidentally fixed with one of the mercurial related fixes

[2016-11-27 21:42] reece commented on #134
I'm using Ubuntu 16.04, python 3.5.2, mercurial 3.7.3, and have tried hg-git head and 0.8.5.

master has the same issue.

test script at https://gist.github.com/reece/6d26c0b3a45ced81e50fa073f2b25e6b

[code]

[2016-11-27 22:06] reece commented on #134
The setuptools_scm repo exhibits the same behavior when cloned with hg-git but not git. Compare these:

# With hg-git
[code]

# With git
[code]

[2016-11-28 06:20] RonnyPfannschmidt commented on #134
I'm on hg 3.8 and things seem to be just fine
I'll bisect with different versions

[2016-11-29 15:21] nicoddemus opened #135 "Equivalent to VersionInfo.version_tuple()?"
Hi,

I'm trying to update `mock` to use `setuptools_scm` to solve testing-cabal/mock#385. Here's the relevant code in [`mock/mock.py`](https://github.com/testing-cabal/mock/blob/master/mock/mock.py#L71):

[code]

Replacing `__version__` is simple enough, but how about the `version_info` tuple? Is there something in `setuptools_scm` which provides the same functionality?

Here's what `version_info`

[2016-11-29 15:42] nicoddemus commented on #135
Just found a related issue: pypa/setuptools_scm#36.

[2016-11-29 15:47] RonnyPfannschmidt commented on #135
@nicoddemus please note that if its already using pbr and its runtime metadata services (and likely its tooling for many related things, there is no point to push it to setuptools_scm on its own, as it handles only a subset of all that pbr does

(bascially pbr is a bug ball of features that breaks things for me ^^)

[2016-11-29 15:49] #135 closed, assigned to nobody

[2016-11-29 15:50] RonnyPfannschmidt commented on #135
but in any case, what you request is a run-time service a install requirement would provide
additionally the proper content of a version tuple is undefined

[2016-11-29 15:51] nicoddemus commented on #135
You mean `mock`? It only seems to import `pbr`  in [this line](https://github.com/testing-cabal/mock/blob/master/mock/mock.py#L69) to get the version:

[code]

There's no other import for `pbr` anywhere on the code.

[2016-11-29 15:53] nicoddemus commented on #135
Currently `setuptools_scm` generates a file like this:

[code]

I would like to propose to generate *in addition* something like:

[code]

It seems like it could be useful and backward compatible. What do you think?

[2016-11-29 18:17] jaraco commented on #135
It feels a bit messy to me to have setuptools_scm be generating a version file, but even more hacky for the version file to be generating multiple representations of a given version. If multiple version formats are necessary, mock should provide or require the tools necessary to perform those translations.

Reading the parent ticket, I see that the issue is that the cx_freeze model of packaging is

[2016-11-29 19:03] nicoddemus commented on #135
Thanks for joining in the discussion @jaraco, continuing on the parent ticket.

[2016-11-29 20:41] RonnyPfannschmidt commented on #135
@jaraco there is a small reason to do generate the file - utility libraries may want to avoid the cost incurred by initializing pkg_ressources, but i dont see any other good reasons

[2016-11-29 20:45] nicoddemus commented on #135
@RonnyPfannschmidt that's one of the points I made in the [parent ticket](https://github.com/testing-cabal/mock/issues/385#issuecomment-263659556).

[2016-11-30 21:53] brianmay opened #136 "setuptools_scm hides errors from git in some cases"
I don't understand what is going on here - it seemed to work last time I tried this. Don't understand why it can't find the git command under tox either - git is installed:

[code]

[2016-12-01 06:51] brianmay commented on #136
Oh, looks like it is something weird to do with a python wrapper I have around git, simplified version that causes the failure:

[code]

If I delete the  ``os.environ['HOME']`` lookup it works. Weird. So starting to think this may not be setuptools_scm issue, unless it is doing something truly weird when searching for git.

[2016-12-01 06:57] brianmay commented on #136
Oh, what I imagine is happening is the HOME environment variable isn't set, so this results in the process generating an exception - which setuptools_scm conveniently hides.

I am just going to assume that is the problem, and close this ticket.

[2016-12-01 06:59] brianmay commented on #136
Having said that I really don't like it when applications silently hide errors like this; if git was broken, I want to know about it.

[2016-12-02 20:05] ThomasWaldmann opened #137 "version number confusion"
Running a first install:
[code]
Note that above it has used 1.0.9... as version number (although I checked out master branch, not 1.0-maint).

Now just running the same command again, no other changes:
[code]
Now it used the (correct) version number 1.1.0...

[2016-12-03 07:10] RonnyPfannschmidt commented on #137
At first glance this looks like a pip state glitch related to metadata and setuptools, will verify in the afternoon

[2016-12-03 12:45] ThomasWaldmann commented on #137
It happens regularly as I am switching branches between 1.0-maint and master and running `pip install -e .` afterwards to make sure the C extensions are up-to-date.

[2016-12-03 14:41] RonnyPfannschmidt commented on #137
verified, incorrect version metadata is written

[2016-12-07 19:30] jaraco commented on #129
Maybe it makes sense to to undo this change and write a custom travis pypi deploy step.

I'm okay with this approach as well, even long term, as it should only emerge with each new Python release. I do wish to deprecate easy_install, which would also address the issue.

[2016-12-08 09:17] tuukkamustonen opened #138 "pip install -r requirements.txt fails to "setuptools-scm was unable to detect version for '/tmp'""
Version: `1.15.0`

I have requirements declared in `setup.py`, so with `requirements.txt` file of:

    .

`pip install -r requirement.txt`:

[code]

I don't believe it's possible to fix this within `setuptools-scm`, however. If pip uses `/tmp` for temporarily building/handling the package, there's simply no version information available and nothing to be done. Correct? Would you have any guesses

[2016-12-08 10:32] RonnyPfannschmidt commented on #138
now at first glance that looks like a pip bug, but what strikes me as more odd, is that the root setuptools_scm found was `/tmp`

do you per chance have a `.git` folder in `/tmp`?

[2016-12-08 10:34] tuukkamustonen commented on #138
@RonnyPfannschmidt Nope, lots of stuff there but nothing related to git.

[2016-12-08 11:15] RonnyPfannschmidt commented on #138
i believe we may figure more from verbose output + setting `SETUPTOOLS_SCM_DEBUG=1` in the environment

[2016-12-08 12:02] tuukkamustonen commented on #138
Running `pip==9.0.1` (I tried with a few older version also, did not seem to make difference):

[code]

I don't know, it just seems pip runs stuff under `/tmp` so there's no git information available.

It seems this problem occurs on version 1.6.0+.

On 1.5.0, `pip install -r requirements.txt` succeeds but version number is set to `0.0.0`. Bit of changelog from `1.6.0`:

Interesting is that `pytho

[2016-12-08 12:13] RonnyPfannschmidt commented on #138
the complete output of setuptools_scm during setup is missing, please get it in some way (i don't recall how that works)

[2016-12-08 12:20] tuukkamustonen commented on #138
Not sure what you mean, but I tried:

[code]

And:

[code]

[2016-12-08 12:22] tuukkamustonen commented on #138
The latter probably fails, because I'm in a sub-directory inside my git repo (I'm hosting multiple components within same git repo). When I run `python -m setuptools_scm` on git root, it works (and gives the same output as with `python setup.py --version`.

I have set:

    use_scm_version={'root': '..'},

...in my `setup.py`.

[2016-12-08 13:13] RonnyPfannschmidt commented on #138
i see, then thats the reason for looking in /tmp, - it would be helpfull to get the setuptools_scm output while a pip install actually runs

[2016-12-10 14:20] tuukkamustonen commented on #138
@RonnyPfannschmidt I couldn't find out how to get more output, but I stepped over some of the code and I think here's the problem:

1) First, when `setup.py` and `requirements.txt` reside on git repository root and I have `use_scm_version=True`, things work ok. Pip (or maybe it's `setuptools`, I don't know) seems to copy the git repository to `/tmp/pip-<hash>-build`, and version is detected succes

[2016-12-10 14:28] RonnyPfannschmidt commented on #138
please try `"relative_to" : __file__`

[2016-12-10 14:31] tuukkamustonen commented on #138
That fails also, `setuptools_scm` resolves `root` to just `/tmp` and only contents of the sub-directory get copied to `/tmp/pip-<hash>-build` anyway.

[2016-12-10 14:35] RonnyPfannschmidt commented on #138
oh, i see, then i missunderstood,

yes, then technically pip is breaking things appart and breaking the build

[2016-12-12 08:39] tuukkamustonen commented on #138
@RonnyPfannschmidt I will open up a ticket on `pip`'s tracker on this. However, would you first have a pointer or explanation on how pip determines that it will copy the parent directory with `.git/` (and not the current working dir, which would be `subdir/`) to `/tmp` by default and why setuptools_scm's `relative_to` has impact on it? Does setuptools_scm alter `pip` behavior somehow?

[2016-12-13 06:37] RonnyPfannschmidt commented on #138
no, setuptools_scm is completely unaware of pip

[2016-12-13 08:15] tuukkamustonen commented on #138
Weird, I thought so because I got different behavior when I set `relative_to`. Well, let's what `pip` folks say.

[2016-12-25 14:49] RonnyPfannschmidt commented on #134
i haven't managed to follow up
i still believe the main cause of the issue is old mercurial on ubuntu

[2016-12-25 14:51] RonnyPfannschmidt commented on #138
@tuukkamustonen can you link the pip issue here please

[2016-12-26 16:24] tuukkamustonen commented on #138
It's visible already there above: https://github.com/pypa/pip/issues/4180

[2016-12-31 00:30] reece commented on #134
Thanks for updating.

I don't think it's quite as simple as "old mercurial on ubuntu". As the tracebacks in the original report show, setuptools_scm 1.13.1 fails, whereas 1.11.1 and 1.10.1 succeed, for otherwise identical configurations.

[2016-12-31 08:10] RonnyPfannschmidt commented on #134
I can't replicate on nicos with more recent versions, it will be a while before I can set up a VM and test on the same distro/version

[2017-01-01 03:52] ksindi opened #139 "Using Cython causes issues deploying to PyPI with Travis CI"
I have a Cython file that generates a .c file when calling `tox`, which calls `build_ext --inplace`. The generated .c file corrupts my version. So instead of "jwalk-0.2.18" I get "jwalk-0.2.19.dev0+ng8c0908d.d20170101", which means I get a 400 Client Error when trying to deploy to PyPI with Travis.

What's the best practice to deal with this? My current solution is to just bypass building the c fi

[2017-01-01 09:24] jaraco commented on #139
In my opinion, if the C file is generated, it shouldn't be tracked in source control, as it's not the source but an artifact. If you do that, then building it should add it to your sdist and binary distributions.

Alternately, you may be able to add it to your .ignore file and depending on your SCM, it may continue to track the file but ignore changes to it unless you explicitly invoke commits on

[2017-01-01 15:12] RonnyPfannschmidt commented on #139
with recent versions, you might get by by setting the `SETUPTOOLS_SCM_PRETEND_VERSION` environment variable, but please verify if that fits your use-case

[2017-01-01 15:34] ksindi commented on #139
Great suggestions. I think adding it to the .ignore but including it in MANIFEST.in makes sense.

[2017-01-01 15:34] #139 closed, assigned to nobody

[2017-01-06 22:55] cdeil commented on #15
I just found `setuptools_scm` for the first time and was wandering how it's the same or different from https://github.com/warner/python-versioneer .

+1 to adding at least a mention of https://github.com/warner/python-versioneer in the docs, or even better a few sentences how this package is different. That would be helpful to the many users of https://github.com/warner/python-versioneer to evalua

[2017-01-06 22:58] cdeil opened #140 "Bundle setuptools_scm to avoid extra dependency?"
Is it possible to bundle setuptools_scm to avoid an extra dependency?

Can you please answer this question in the docs?

It's a bit crazy, to have an extra dependency and ~ 10 files just to set a version number for a Python package, no?

Personally I'd prefer to have a single file I can bundle with my project, instead of an extra dependency.

[2017-01-07 00:47] LuisBL opened #141 "python setup.py test fail from `gitlab-ci.yml`"
From bash I can do a `python setup.py test`:

    $ python setup.py test
    running test
    running egg_info
    writing proj1.egg-info/PKG-INFO
    writing top-level names to proj1.egg-info/top_level.txt
    writing dependency_links to proj1.egg-info/dependency_links.txt
    reading manifest template 'MANIFEST.in'
    writing manifest file 'proj1.egg-info/SOURCES.txt'
    running build_ext

[2017-01-07 00:52] untitaker commented on #141
You cannot use `requirements.txt`, you need to use `setup_requires` as specified in the README

[2017-01-07 01:03] LuisBL commented on #141
silly me, it's works thank you

[2017-01-07 01:03] #141 closed, assigned to nobody

[2017-01-07 08:48] RonnyPfannschmidt commented on #140
The Python ecosystem has no good tools to do this in a automatable manner,

Since these days its reasonably painless to use this as is I opted out of inventing one

I wouldn't mind using a reasonable solution made by someone else, but its a really hairy problem

[2017-01-07 22:41] cdeil commented on #140
@RonnyPfannschmidt -  I don't really understand what you mean. Could you please elaborate?

Is it currently possible to drop the `setuptools_scm` in my repo and import from there, instead of having it as a dependency?

Would it be possible to just put all code (650 lines) in a single file to make bundling easier?
(Of course, if you find it's not worth the messy way to maintain the code in a single

[2017-01-07 22:45] cdeil opened #142 "better document the supported SCMs"
Currently the short description of this package at https://github.com/pypa/setuptools_scm#setuptools_scm reads like this:

What are the currently supported SCMs?
I think it's hg and git from looking at the code.
Maybe mention this in the README?

If you confirm that it's git and hg, I could add that info to the README? How about right after that sentence talking about supported SCMs?

[2017-01-07 22:52] RonnyPfannschmidt commented on #142
currently its only git and hg

there should probably also be a section on making plugins for others scm's via plugins/entry-points/custom functions, unfortunately my time is currently rather limited

[2017-01-07 22:55] RonnyPfannschmidt commented on #140
@cdeil setuptools_scm uses setuptools features to determine the supported scms/fallbacks, just dumping some files somewhere would break that

pushing it directly into setuptools is also not planned since that would massively couple backward compatibility and release time-framing

possible quick hack solutions would be to just dump a wheel file into the project and adding it to the site dirs

gener

[2017-01-07 23:05] cdeil opened #143 "Document how setuptools_scm works"
I've been reading through your docs https://github.com/pypa/setuptools_scm/blob/master/README.rst and I'm having a hard time to figure out how `setuptools_scm` works.

---

Question 1:

I see an option `use_scm_version` is passed to `setuptools.setup`.
Looking at the docs for setuptools https://setuptools.readthedocs.io/en/latest/ I can't find this option!? (might have missed it, unfortunately tho

[2017-01-08 11:33] RonnyPfannschmidt commented on #143
@cdeil thanks for bringing those points that need clarification to attention,
i will put a short rundown into this ticket so we can tackle a more detailed explanation for actual sphinx documentation later on

1. setuptools has an extension system to allow python packages to declare new keyword arguments to setup using entrypoints

this is similar to how `console_scripts` and `gui_scripts` works

2

[2017-01-08 11:39] RonnyPfannschmidt commented on #143
another user was introduced by borgbackup/borg#161 :)

[2017-01-15 17:25] jaraco commented on #140
+1 to focusing our energy on [pep 518](https://www.python.org/dev/peps/pep-0518/)

[2017-01-16 09:19] RonnyPfannschmidt commented on #140
im closing this one as wont-fix, since setuptools_scm shouldn't solve the issue,
on that note, i'd be more than happy to include a 3rd party solution that just works
(preferably submitted as pull request since personally i dont want to spend more than review and a thumbs up on it)

[2017-01-16 09:19] #140 closed, assigned to nobody

[2017-01-22 15:26] ralokt opened #144 "Support SemVer pre-release versions (like 2.0.0-beta)"
Currently, any attempt to use such a version will cause infinite sadness.

This is because of the current implementation of `tag_to_version`:

[code]

ie, `"2.0.0-beta"` is truncated to `"beta"`.

I understand that this is there in order to support tags like `internal_spam-v1.2.3`, and that what I'm asking for is directly at odds with that.

However, SemVer does mandate using Hyphens for pre-relea

[2017-01-22 17:43] RonnyPfannschmidt commented on #144
@ralokt pep44 differs a bit from semver with those regards, and currently i'm inclined to prefer mapping the rules of smever to pep440 as opposed to following a foreign version format for python tools

python versions already capture alpha/beta and a series of other cases

that being said, i wouldn't mind a proposed mechanism that does this correctly, but i do fear "correct" wil lbe far more trick

[2017-01-22 20:45] ralokt commented on #144
I gave it a try! Let me know what you think, I'm open to suggestions (and implementing them). Possibly we'd even want to be a bit less strict? I'm not considering pep440 in my solution at the moment (but that should currently be covered anyway).

[2017-01-29 20:07] #129 closed, assigned to nobody

[2017-01-29 20:22] RonnyPfannschmidt commented on #134
@reece to speed things up, please get me the output with `SETUPTOOLS_SCM_DEBUG=True`

[2017-01-29 20:34] RonnyPfannschmidt commented on #138
@tuukkamustonen i found a possible solution using the pip-egg-info

[2017-01-29 21:12] RonnyPfannschmidt commented on #138
i uncovered a mistake from fixing #45 and #43 in 0f1c98d032b421f65c8ef5b1042386a6b64bf0b6 about 2 years ago

[2017-01-31 06:31] tuukkamustonen commented on #138
@RonnyPfannschmidt Nice! Not a very critical regression then if no one bumped into it during those 2 years :)

Do you think https://github.com/pypa/pip/issues/4180 is invalid and should be closed?

[2017-01-31 06:35] RonnyPfannschmidt commented on #138
@tuukkamustonen the feature never ever worked as intended, so its quite an oversight

[2017-01-31 06:36] RonnyPfannschmidt commented on #138
@tuukkamustonen  pypa/pip#4180 is still valid, but should receive some extra infos

[2017-01-31 20:25] reece commented on #134
Ronny- please see the comment much earlier in the thread with debug output. Or are you asking for something not covered there?

[2017-02-01 14:43] RonnyPfannschmidt commented on #134
@reece indeed, i missed it while revisiting the issue, i hope i can set up older hg + hg-git versions later this week

[2017-02-08 08:26] #138 closed, assigned to nobody

[2017-02-16 17:57] jaraco opened #150 "cant parse version None"
With a repo on an oddly-tagged commit,

[code]

I get an odd error message for `setuptools_scm.get_version()`:

[code]

I would expect the tag it couldn't parse to be `23.46.2post210+gbe48adfpost3+g0cc25f2` and not `None`.

[2017-02-18 11:10] RonnyPfannschmidt commented on #150
@jaraco please the output when SETUPTOOLS_SCM_DEBUG is set

[2017-02-18 13:48] jaraco commented on #150
In the setuptools_scm repo (for simplicity):

[code]

[2017-02-18 14:00] RonnyPfannschmidt commented on #150
@jaraco thanks for the example, i believe unadvertised breaking away local components was broken

i recall #127 added this

[2017-02-18 14:16] RonnyPfannschmidt commented on #150
@jaraco i did some more analysis, and i believe i did break it when i started to pull the versions trough meta in all cases, i#ll try to fix it this weekend

[2017-02-22 19:23] mehulkar opened #152 "revision hash adding extra "g""
Hello! I've just discovered this project, and I'm seeing something that doesn't make sense (I'm most likely just doing something wrong, but don't know where else to ask the question).

1. I have a git repo in a package called `foo` that I tagged it with `git tag -a 1.0.0`
2. I have added setuptools_scm and enabled it in `setup.py`.
3. When I run `python setup.py sdist`, I get a tarball of version:

[2017-02-22 20:07] jaraco commented on #152
The auto-increment is indeed an intentional feature. It's there because the `.dev` suffix indicates a pre-release number, so it's necessary for the primary version to be incremented to _something_ for the .dev to work. It's conceivable that the bump for major or minor release could be inferred (there's a ticket requesting that based on branches and git flow), though no implementation. I believe th

[2017-02-22 21:31] mehulkar commented on #152
@jaraco yeah, I think that would make more sense to me as a new user. While scrounging around in the project, I did see the `post-release` option for `version_scheme`. I haven't tried it yet, but If it does what I think it does, i would expect it to be the default. (Totally not a big deal that it isn't though)

ahh!!! Thanks for that reference. I was searching in the codebase for where that was be

[2017-02-22 21:39] jaraco commented on #152
Good idea. Could you send a PR?

[2017-02-22 21:59] mehulkar commented on #152
happy to! submitted.

[2017-02-23 09:59] #152 closed, assigned to nobody

[2017-02-24 11:36] sschuberth commented on #152
While it's true that the "g" prefix comes from `git describe`, IMO it's still very misleading to leave it in here. For consistency with other SCMs it should be so that everything after "n" is a valid commit identifier for the specific SCM. But if you leave the "g" in, it's not a valid commit identifier in Git! `git describe` adds the "g" to say "the following hash comes from **g**it", but if you a

[2017-02-24 12:39] RonnyPfannschmidt commented on #152
@sschuberth an bandaid scheme and a transition path for a next major version seem like a good combination, would you like to contribute that scheme
(the idea is to add a named scheme that people can use, and in the major version that fixes it, making it an alias for the normal scheme)

[2017-02-24 12:53] jaraco commented on #152
I agree the `n` and `g` seem to be in conflict here, but maybe it's the n that should be dropped and not the g.

Well, that's not always the case. It's possible to for example use `hg-git` to checkout a git repo and cut a release of it in an untagged version, you'd get a Mercurial hash. I think it's a meaningful signal to indicate in which scm the hash was relevant.

I'd be more in favor of droppi

[2017-02-24 13:51] sschuberth commented on #152
@RonnyPfannschmidt Well, I'm not only new to setuptools_scm, but also relatively new to Python in general, but I can try to find the time to give it a try...

@jaraco I was actually thinking about the same thing, but had similar scenarios in mind why this could become a mess. However, maybe instead of just "n" (What does that stand for anyway?) use a generic "scm"?

What I meant was "if you alread

[2017-04-07 06:49] Kentzo opened #162 "Add an ability to install setuptools_scm-powered package without SCM"
Using setuptools_scm breaks compatibility with "standard" workflow of installing or creating an sdist  when working with package outside of SCM (e.g. when it's downloaded as a ZIP archive from github).

[2017-04-07 07:02] RonnyPfannschmidt commented on #162
@Kentzo as documented in https://github.com/pypa/setuptools_scm#notable-plugins there is setuptools_scm_github archive that enables partial support for that

full support can't be implemented with reasonable time/complexity cost,
since git is pretty much utterly hostile to something like this,
for mercurial archives this was implemented and possible since inception
(this is purely a shortcoming of

[2017-04-07 07:02] #162 closed, assigned to nobody

[2017-04-07 20:56] RonnyPfannschmidt commented on #144
im closing this one, feel free to reopen when you find time to follow up

[2017-04-07 20:56] #144 closed, assigned to nobody

[2017-04-07 20:57] RonnyPfannschmidt commented on #87
i'm closing this one due to lack of own followup, i'm happy to accept a implementation, but not a open issue

[2017-04-07 20:58] #87 closed, assigned to nobody

[2017-04-07 20:59] #150 closed, assigned to nobody

[2017-04-07 21:32] tardyp opened #164 "new version of setuptools_scm just broke my build"
Please have a look at this build:
https://nine.buildbot.net/#/builders/2/builds/125578

looks like you just release setuptools_scm, so I would expect this is a problem with the new release..

[code]

[2017-04-07 21:48] RonnyPfannschmidt commented on #164
this seems to be an artifact of uploading the sdist first and the bdist-egg second
setuptools and its sandboxing deliberately break the world there,

please rerun the build to see if its still happens, i strongly suggest including setuptools_scm into the build

im considering warning if setuptools_scm was egg/easy_installed

[2017-04-07 23:22] joevgear commented on #164
We are seeing the same thing by just running:  pip install -r requirements.txt.  What is the workaround?

15:36:20     Complete output from command python setup.py egg_info:
15:36:20     Traceback (most recent call last):
15:36:20       File "<string>", line 1, in <module>
15:36:20       File "/tmp/pip-build-1c650j/pytest-xdist/setup.py", line 37, in <module>
15:36:20         'Programming Language

[2017-04-08 00:07] jaraco commented on #150
Excellent. Thanks!

[2017-04-08 02:23] mkolodny commented on #164
We're seeing the same thing:

    Collecting pytest-xdist>=1.15.0
      Downloading https://company.com/pypi/packages/dc/b2/a59db3ef996b93c3ef35dbbc33557a71ef67a6839d94a52c88eeb1086002/pytest-xdist-1.15.0.tar.gz (87kB)
        100% |████████████████████████████████| 92kB 70.2MB/s
        Complete output from command python setup.py egg_info:
        Traceback (most recent call last):
          Fil

[2017-04-08 03:59] dstufft commented on #164
I'm hitting this too, package only ever had a sdist created for it:

[code]

[2017-04-08 09:15] tardyp commented on #164
@RonnyPfannschmidt this happen for all the 15 builds of my build matrix: https://nine.buildbot.net/#/builders/1/builds/1707
So this is reproducible easily. I can install setuptools_scm before the build like I did for pbr, but maybe there is a fix to include in setuptools_scm or something.

The thing is:
- my build worked yesterday
- new version of setuptools_scm was released
- my build does not wo

[2017-04-08 09:50] RonnyPfannschmidt commented on #164
@tardyp it seems i misinterpreted the build log, i need to investigate why the egg in your case seems to have an issue (because the setuptools_scm eggs) are build precisely to avoid such issues

since your issue happens i have to presume that setuptools_scm no longer correctly works for sdists
i will investigate and try to release a fix within the next 2 hours else i'll pull the full release as br

[2017-04-08 09:53] RonnyPfannschmidt commented on #164
i can replicate the problems with
[code]

[2017-04-08 09:56] RonnyPfannschmidt commented on #164
the issue was introduced in the fix for  #138 - add support for the pip-egg-info folder #148

[2017-04-08 11:07] tardyp commented on #164
@RonnyPfannschmidt thanks for working on it.

Reverting to 1.15.0 did fix the issue:
https://github.com/buildbot/buildbot/pull/3105/files
I'd rather not merge this PR, and wait for a proper fix from you.

[2017-04-08 11:09] tardyp commented on #164
updating my PR to pull  git+https://github.com/pypa/setuptools_scm to see if your fix works for me.

[2017-04-08 11:09] RonnyPfannschmidt commented on #164
@tardyp a release is upcoming after #165 passes, master isn't fixed until its merged

[2017-04-08 11:10] #164 closed, assigned to RonnyPfannschmidt

[2017-04-08 11:12] RonnyPfannschmidt commented on #164
@tardyp master is fixed now - please tell me if you prefer i release, or if you would run against it first to verify

[2017-04-08 11:16] tardyp commented on #164
looks like installing from git+https will not work

[code]
Do you have another suggestion for testing it before release?
you may release an rc1 so that I can try with pip install --pre ?

[2017-04-08 11:21] RonnyPfannschmidt commented on #164
im preparing something

[2017-04-08 11:44] RonnyPfannschmidt commented on #164
@tardyp please rerun your build, i update setuptools_scm to work from pip install via git

[2017-04-08 11:57] RonnyPfannschmidt commented on #164
ps, i removed the 1.15.3 release from pypi

[2017-04-08 14:28] dstufft opened #167 "setuptools_scm unable to compute distance?"
I have a tarball that was built with a previous version of setuptools_scm. The other day it started failing because the version number it was producing was ``1.None.0``. Nothing in the code base had changed, so I believe it to be a setuptools_scm regression.

This tarball is private, but the ``setup.py`` looks like:

[code]

I'm guessing that ``v.distance`` is returning ``None`` now when it previo

[2017-04-08 15:40] RonnyPfannschmidt commented on #167
@dstufft can you provide a anonymized output output with `SETUPTOOLS_SCM_DEBUG=1`

[2017-04-08 15:48] RonnyPfannschmidt commented on #167
@dstufft after reviewing the code i beleive you are seeing expected behaviour, on a exact match distance is None, it has been that way since years and across multiple iterations of the version class

for reference see https://github.com/pypa/setuptools_scm/blob/master/setuptools_scm/version.py#L69 and https://github.com/pypa/setuptools_scm/blob/master/setuptools_scm/version.py#L140

i would consid

[2017-04-08 15:50] dstufft commented on #167
@RonnyPfannschmidt On an exact match of what?

[2017-04-08 15:51] RonnyPfannschmidt commented on #167
@dstufft no, wait, i just realized what detail got messed up, - its indeed a regression, but its certainly not introduced just now, a while back i changed how versions are passed trough

[2017-04-08 15:53] RonnyPfannschmidt commented on #167
@dstufft setuptools_scm consider an exact match when it knows the exact version, but due to a mistake in fallback implementation the version even of fallbacks is passed trough version number formatting mechanism

the issue just never popped up because those are considered a exact match, however for custom versioning schemes just as the one your pointed out that detail simply does not hold true sin

[2017-04-08 15:54] dstufft commented on #167
To be clear, I don't actually tag any releases in this project, every commit is considered a release and it produces one of ``1.{distance}.0``. But here's the debug output:

[code]

What's interesting is it only actually raises an error with ``pip install -r`` not if I pass the requirement to pip itself (in that case it just whines about the version being non PEP 440), but I suspect that particula

[2017-04-08 16:22] wcooley commented on #87
That's fine; I changed my naming scheme to remove the prefix. I think I made a first cut back then but it was too messy and after thinking through a better design I decided it would require deeper changes than I would be able to muster.

[2017-04-08 16:47] #167 closed, assigned to nobody

[2017-04-12 01:38] Kentzo commented on #162
@RonnyPfannschmidt I was rather thinking of plain archive with absolutely no SCM data.

Probably setuptools_scm could fall back to 0.0.0 when there is no version available anywhere?

[2017-04-12 06:16] RonnyPfannschmidt commented on #162
@Kentzo this was the case and had been a disservice and breaker on regular basis, i'm very reluctant to add an opt-in for that since it does in fact break expectations,
so unless someone presents a really really good argument and a good implementation this wont happen

for custom use you can still implement a custom parse function and just return a normal version

[2017-04-12 06:18] RonnyPfannschmidt commented on #162
@Kentzo also again, its not our job to fix the glaring and painful feature-holes of git if you used mercurial any sdist from the scm would work because mercurial adds correct metadata to the archives that is filesystem discover-able after unpacking

[2017-04-12 09:27] Kentzo commented on #162
The error could be more user friendly. Something like.

setup.py is managed by the setuptools_scm package and it relies on SCM metadata for versioning. Unfortunately it was not found.
Ensure that you're installing from within SCM context or set version manually via `SETUPTOOLS_SCM_PRETEND_VERSION`.

[2017-04-12 10:16] RonnyPfannschmidt commented on #162
@Kentzo in the context of installing from github&co that would generally imply putting wrong metadata into other packages as well (as soon as more than one setuptools_scm using package is involved)

the pretend_version env var is intended more for packagers that make distro packages, than for endusers,

[2017-04-12 14:58] sean-abbott commented on #75
I'd be in to the discussion, but tbh I've completely forgotten what I was doing and I no longer work for the company where I had the usecase. :-/

[2017-04-12 14:58] sean-abbott commented on #75
Also, sorry I missed this until 6 months later.  Dangit.

[2017-04-12 15:46] jaraco commented on #75
I honestly don't have the bandwidth to provide meaningful insight here. I'm only barely familiar enough with Git flow that I use it sparingly and sometimes incorrectly. I think we'd need some input from someone with a deeper understanding of Flow and use-cases to design and test against. I'm happy to review an implementation and test it, though.

[2017-04-12 15:50] RonnyPfannschmidt commented on #75
thanks for the inputs, i plan to provide the branch name in the metadata and let users decide by version scheme, however on as i have time to work on it basis

[2017-04-12 16:12] sean-abbott commented on #75
I am also happy to test, and I do have at least one project where I can do so meaningfully.

[2017-04-12 22:11] Kentzo commented on #162
I do not know how to properly handle this, but this case doesn't seem to be "rare".

My first encounter with `setuptools_scm` was through the python stack trace I got after trying to do `sdist install` from an archive I downloaded from github. And it was not pleasant :)

[2017-04-13 06:28] RonnyPfannschmidt commented on #162
@Kentzo yes, but the message here is correct in telling people to go get a full repo because else they will get wrong metadata and it typically will bite them

[2017-04-18 13:57] WhyNotHugo commented on #143
Another point missing clarification is package data files.

It seems that setuptools-scm makes git-tracked file inside python modules get installed (if `include_package_data` is `True`), but this isn't clearly documented, and I've recently seen some breakage surrounding this (and I'm not even sure if something broke, or it only worked-by-coincidence before).

[2017-04-19 12:41] RonnyPfannschmidt commented on #143
@hobarrera the surrounding breakage was setuptools ignoring sdist metadata in a major release, there is nothing we can do about that

[2017-04-19 17:06] WhyNotHugo commented on #143
Right, I wasn't complaining about the breakage per se, just pointing out that the entire feature is mostly undocumented on setuptool-scm's side, so I wasn't sure if the previous behaviour was expected, or the current one was (eg: maybe I was just relying on a bug).

While we're on that topic though (slight OT for this thread though): this should be fixed in future by setuptools?

[2017-04-19 17:34] RonnyPfannschmidt commented on #143
@hobarrera the setuptools bug will be fixed by setuptools,

btw, the file finders are mentionend in the readme, its not really comprehensible that way

unfortunately i rarely find the time to work on documentation atm

[2017-04-19 23:06] yun opened #169 "old setuptools versions incurr broken version strings with bad warnings"
A package version containing a revision hash seems to break  `pip` when using `--pre` flag.
This is easy to demonstrate by using `pkg_resources.parse_version`:
[code]

See also PEP440 here: https://www.python.org/dev/peps/pep-0440/#dvcs-based-version-labels

I think the proper fix is to separate the revision hash with a '+' character to make it part of the local  version instead of public:
[code]

[2017-04-19 23:16] yun commented on #169
Nevermind, it seems my setuptools was outdated and thus did not use '+' as seperator.

[2017-04-20 10:34] RonnyPfannschmidt commented on #169
@yun what version of setuptools where you using, depending on its age i may still need to act

[2017-04-20 10:46] yun commented on #169
Version was 0.9.8, which is the default CentOS 7 package of python-setuptools.

python-setuptools-0.9.8-4.el7.noarch

I upgraded to 34.3.2 using pip.

Sent from my iPhone

[2017-04-20 10:52] RonnyPfannschmidt commented on #169
@yun was there a warning being printed? (i recall it should, but if it has gone missing i need to investigate and repair)

[2017-04-20 12:20] yun commented on #169
The only warning was:

[code]

Sent from my iPhone

[2017-04-20 13:29] RonnyPfannschmidt commented on #169
@yun thanks for the update, do you as a user being at the receiving end of that message thing it is ok or should it be improved?

[2017-04-20 19:59] yun commented on #169
The error message was kinda lost in the rest of the output of `setup.py sdist`. I think it could be improved by documenting it on the main page, what 'degraded' mode means.

For example, I did not expect that it would cause it to generate a different version string because of it.

[2017-04-20 21:44] RonnyPfannschmidt commented on #169
@jaraco i do wonder if this is something that should be dealt with discretely or if a bigger error is acceptable there - any oppinion?

[2017-04-25 17:17] webknjaz opened #170 "Using setuptools_scm + pbr"
Hi,

I was curious whether I can use [`pbr`](https://docs.openstack.org/developer/pbr/) and `setuptools_scm` together. Here's a test `setup.py` module:
[code]

It turned out that technically it "works", but with a side effect: it looks like a method for version generation is picked randomly — one of above packages is picked for this purpose.
Just wanted to share/document my findings.

My motivatio

[2017-04-26 09:17] RonnyPfannschmidt commented on #170
@webknjaz thanks for the heads-up - pbr has a history of doing too many things at once and being a massive bag of very special opinions

what do you mean by "big and robust" btw

[2017-04-26 09:36] RonnyPfannschmidt commented on #137
@ThomasWaldmann im deferring the issue to setuptools

[2017-04-26 12:59] webknjaz commented on #170
@RonnyPfannschmidt I mean that it lets users keep parts of setup metadata in separate places doing it in a declarative way. I like being able to list dependencies in `requirements.txt`, most of metadata in `setup.cfg` and not keep some heavy stuff in `setup.py`. I think it's big amount of features. And I think that it's robust, because its widely used and supported by OpenStack, which has a huge e

[2017-04-26 15:31] jaraco commented on #170
PyPA [recommends using install_requires for declaring the dependencies](https://caremad.io/posts/2013/07/setup-vs-requirement/) and referencing that from requirements.txt.

[Late versions of setuptools](http://setuptools.readthedocs.io/en/latest/history.html#v30-3-0) allow for declaration of most options in setup.cfg (possibly superseding features of pbr).

`setuptools_scm` is the blessed package

[2017-04-27 08:11] RonnyPfannschmidt commented on #170
@jaraco thanks for the comprehensive summary, it captures my gut feeling in eloquent wording

[2017-04-27 08:11] #170 closed, assigned to nobody

[2017-06-14 17:39] anthrotype opened #171 "how do I run setuptools_scm test suite locally?"
I'd like to submit a PR to fix another issue, but I'm having hard times figuring out how to run the test suite for setuptools_scm locally on my machine.

I have python 2.7.13 and 3.6.1 installed globally, each has tox installed.
Any of these commands make pytest fail with a `RuntimeError: maximum recursion depth exceeded` error.

[code]

I'm probably missing something very basic. In that case, sor

[2017-06-14 17:47] anthrotype commented on #171
FYI, I am using the latest pytest 3.1.2 and tox 2.7.0.
The setuptools version is 36.0.1.

[2017-06-15 12:21] RonnyPfannschmidt commented on #171
@anthrotype please try to run them in a own virtualenv - at first glance it looks like a pytest report and i#ll log it into pytest issue tracker

[2017-06-15 12:21] RonnyPfannschmidt commented on #171
@anthrotype note that you will need to downcrade py.test

[2017-06-15 12:22] RonnyPfannschmidt commented on #171
@anthrotype it seems that you hit pytest-dev/pytest#2501

[2017-06-15 19:19] #171 closed, assigned to nobody

[2017-06-17 22:50] tathagata opened #173 "Using tags other than version number"
I am trying to use setuptools_scm with a git repository that uses tags for marking versions as well as   milestone releases. For example

`git log --no-walk --tags --decorate --simplify-by-decoration --oneline`

    0c9c618e (tag: MILESTONE_0.1.2, blah blah) Great success
    11118060 (tag: 1.1.25, lorem impsum) HotFix: Put out fire
    1f1fbe5f (tag: 1.1.24, lorem ispum) bug fix
    048da873 (tag

[2017-06-18 18:15] RonnyPfannschmidt commented on #173
currently the only way is a custom parse function, which is not documented because it is not yet completely implemented/correct

[2017-06-20 13:09] RonnyPfannschmidt opened #175 "document file listing behaviour more comprehensible"
the small mention of file listers doesn't help people unaware of the setuptools feature to even grasp its importance or use it as intended

more detailed explanations and examples are needed

[2017-06-20 13:12] antocuni commented on #175
Also, from the point of view of someone who writes `setup.py` but it's not particularly aware of all the distutils/setuptools quirks, it is a bit unclear what is the relationship of `setuptools_scm` w.r.t. `package_data`, `include_package_data` and `MANIFEST.in`

[2017-06-21 22:05] jck opened #176 "setuptools_scm breaks pip installing subdirs from git"
For example: `pip install 'git+https://github.com/swift-nav/libsbp#subdirectory=python'`

pip clones the entire repo, including the `.git` dir, but setuptools_scm breaks

[code]

[2017-06-22 05:48] RonnyPfannschmidt commented on #176
@dstufft i'm not sure if setuptools_scm is at fault or if pip breaks us - any idea?

[2017-06-22 20:50] dstufft commented on #176
We're probably only copying the sub directory and not the parent directory.

[2017-06-23 08:44] RonnyPfannschmidt commented on #176
@dstufft does pip provide any mechanism to get pkg-info/egg-info in place even in such a case

[2017-06-23 08:58] RonnyPfannschmidt commented on #176
for the record, we do already have fallback support for pip-egg-info that works for normal checkouts

it doesn't work for sub-directory checkouts

[2017-06-23 14:24] dstufft commented on #176
If I'm right above, probably not? Though it might be reasoanble to copy the parent directory too and just CD into the sub directory-- but we'd have to verify that is actually the case.

[2017-06-27 22:53] hardkrash commented on #87
Just wanted to switch to this tool and discovered that I cannot use the tool as we keep our release tags in a separate namespace  `releases/M.m.p` so build tools to only build and release the explicitly tagged releases.

The simplest fix would to look at the `basename` of the tag and use it.
An alternative fix would be to use a `re` that provides an extraction.
e.g. `'^v?(?P<version>\d+\.\d+\.\d+)

[2017-07-04 14:47] jaraco commented on #87
@hardkrash, that sounds like a slightly refined description of what I've proposed above, which if an acceptable implementation existed, we would merge. Would you consider devising an impl.?

[2017-07-13 15:47] wcooley commented on #87
@hardkrash The hack I'd employed was the following in my `setup.py`:

[code]

Replace the `tag[4:]` with `tag[9:]` for your case or replace the whole lambda with something more powerful.

[2017-09-01 18:43] andrewmwhite opened #179 "Options specified as `unicode` strings break"
Under 2.7 but using `unicode_literals` in `setup.py`, I get:

[code]

I believe this check is responsible since it's only looking for `str` and not `unicode`, as well:
https://github.com/pypa/setuptools_scm/blob/75897ba511010efaabf628217d34b589d9299c8f/setuptools_scm/version.py#L25

[2017-09-02 19:05] RonnyPfannschmidt commented on #179
main reason this isn't fixed is that `unicode_literals` tends to break things badly on python2 and so its under the radar

[2017-09-06 07:31] 1oglop1 opened #181 "setuptools_scm does not work with setup.cfg"
I was debuging  the behaviour of `setuptools_scm` because I received exception from function `version_keyword`
[code]

in `setuptools` file `config.py`, all options go through parser except additional options like `use_scm_version`, I guess this should be handled by `setuptools_scm`
*file* : `setuptools/config.py`
[code]

in `setuptools_scm`
 something goes wrong here:
[code]
because function `ver

[2017-09-06 10:15] RonnyPfannschmidt commented on #181
thats pretty much a setuptools bug,
to fix it it would require a additional setting for the parsers, as such its not something we can fix directly and it has to stay in setup.py

[2017-09-06 10:17] RonnyPfannschmidt commented on #181
@jaraco how would that one best be integrated?

[2017-09-10 14:39] #179 closed, assigned to jaraco

[2017-09-19 08:43] webknjaz commented on #181
@idlesign could you also take a look at this plz?

[2017-09-19 13:15] idlesign commented on #181
@1oglop1 Please show your `setup.py` and  `setup.cfg`.

I've tried the following, and it seems to work:
[code]

[2017-09-19 14:16] webknjaz commented on #181
@idlesign you probably misunderstood the problem:

1. To integrate `setuptools_scm` one needs to pass `use_scm_version = True, setup_requires = ['setuptools_scm']` when calling `setup()` **(and omit `version = ` argument)**
2. There's possibility to declare static `setup()` arguments via `setup.cfg` instead of `setup.py`, so it would be:
[code]
3. `setuptools.config` reads `setup.cfg` and it parse

[2017-09-19 14:27] idlesign commented on #181
What kind of integration? I undertand the ultimate goal of `setuptools_scm` is getting version based on vcs data. This one is intuitively achieved with `attr: setuptools_scm.get_version`, as I already mentioned. There is a problem with that though: `attr` is not lazy enough to honor `setup_requires`.

[2017-09-19 14:32] webknjaz commented on #181
AFAICS, the description above is the official way of enabling `setuptools_scm` to do the work. And it works if put into `setup.py`. The goal is to make it work the same way with `setup.cfg` approach.

[2017-09-19 14:40] idlesign commented on #181
May be I'm missing some use case, but as it is I see no reason to complicate things.

@RonnyPfannschmidt, anything that prevents your users from using `attr:`, given that there will hardly be a way to pass custom params to `get_version()` when in `setup.cfg`?

[2017-09-19 14:52] webknjaz commented on #181
Okay.. But what about lazy loading of attrs? I guess this must be solved before it's usable, right?

[2017-09-19 15:00] idlesign commented on #181
Almost. It's usable already if you're lucky to have `setuptools_scm` available beforehand.

Yet, I have some tweaks in mind for `attr:` to implement in a week or so, and I'll try to put lazyness in the list.

* some `setup_requires` related stuff is already proposed in https://github.com/pypa/setuptools/pull/1150

[2017-09-19 15:18] webknjaz commented on #181
thanks, I'll be waiting for lazyness updates :)

[2017-09-19 19:06] RonnyPfannschmidt commented on #181
@idlesign the main problem is lack of support in setuptools, until it is added no can do,

[2017-09-19 21:31] benoit-pierre commented on #181
With an additional patch to https://github.com/pypa/setuptools/pull/1150:
[code]
This seem to work:
[code]
[code]

[2017-09-20 00:43] benoit-pierre commented on #181
I amended https://github.com/pypa/setuptools/pull/1150 to support the above use-case.

[2017-09-20 08:20] RonnyPfannschmidt commented on #181
@benoit-pierre kinda a complete no-go at first glance

[2017-11-02 04:39] maphew opened #182 "git not found, but worked yesterday??"
On Windows 7 I'm getting a git not found error, yet just yesterday I successfully built a wheel using setuptools_scm on this machine.

[code]

but git is available:

[code]

[2017-11-02 04:43] maphew commented on #182
Huh. Curious. The native win command `where` doesn't locate it either.

[code]

[2017-11-02 04:50] maphew commented on #182
Git Windows is working black magic. Not all .exe's in path are .exe's, or something. Adding `mingw64\bin` to PATH instead of the _other_ folders which also contain git.exe make it work:

    path=%path%;C:\Program Files\Git\mingw64\bin

Closing as invalid, upstream problem.

[2017-11-02 04:50] #182 closed, assigned to nobody

[2017-11-02 05:41] maphew commented on #143
It took me some experimenting to figure out how to use the keywords instead of the default `use_scm_version=True`, so here's an example for the docs:

[code]

[2017-11-02 09:32] RonnyPfannschmidt commented on #182
thanks for following up with all the details 👍

[2017-11-07 14:42] KOLANICH opened #183 "Unable to parse a semver version"
More precisely, it fails on the git tag "v0.0.1-alpha"

[2017-11-07 16:00] RonnyPfannschmidt commented on #183
setuptools_scm handles python version numbers, which are not semver numbers, the parsers fail on the tags, since python does those tags differently

[2017-11-09 06:26] maphew opened #184 "How to use `write_to_template` parameter?"
Would someone please show an example or two of how to use the `write_to_template` parameter?

I've tried using some of the patterns listed in https://github.com/pypa/setuptools_scm#default-versioning-scheme but they exit with KeyError

[code]

[code]

[2017-11-09 06:32] RonnyPfannschmidt commented on #184
thanks for noting the documentation issue - the write_to template currently only supports the variable `version` which is a string

its being carried out in https://github.com/pypa/setuptools_scm/blob/master/setuptools_scm/__init__.py#L41

[2017-11-10 23:18] anntzer commented on #140
Unless I am mistaken, putting the setuptools_scm egg into e.g. `/vendor/` and adding
[code]
to your setup.cfg works.

[2017-11-11 08:41] RonnyPfannschmidt commented on #140
@anntzer that would however require to put the eggs for all python versions in (since setuptools doesn't support wheels at the moment)

[2017-11-11 09:24] anntzer commented on #140
I think that you can get away with a single egg that does not include the python version in the filename?  (and possibly remove the pyc's if you want?).  The spec says the python version is optional (http://setuptools.readthedocs.io/en/latest/formats.html#filename-embedded-metadata) and the same egg can be used across all versions (well all versions that setuptools_scm supports, which is good enou

[2017-11-11 13:20] RonnyPfannschmidt commented on #140
@anntzer i'd happyly accept patches that carry along the python version independent egg building and a script for including one in sdists if that works as intended

[2017-11-11 19:34] anntzer commented on #140
You may know that there is a fairly big taboo against using setup_requires in the scientific python community because the obvious thing to do is to setup_require numpy (because many extension modules depend on the numpy headers), but that would fetch an egg and build numpy from source, which 1) takes a *lot* of time, and 2) can introduce binary compatibility problems vs the system version.  Also t

[2017-11-12 09:12] RonnyPfannschmidt commented on #140
@anntzer personally im waiting for stuff like PEP-517/518 because those make pure python dependencies for the build time massively simpler

whats indded is an issue is the binary dependencies of scientific packages - i hope that given a pep-517/8 kinda toolset they get enabled to take a more controlled approach (but right now its not that nice)

[2017-11-13 20:12] anntzer opened #185 "support git's export-ignore"
`git archive` reads the `export-ignore` gitattribute (https://git-scm.com/docs/gitattributes#_creating_an_archive) which allows marking some files as NOT packaged into the archive.  It would be nice if setuptools_scm did the same for the sdist.

Typical use cases would be to remove CI scripts.

Unfortunately AFAICT there is no way to ask git for the files it would archive short of actually running

[2017-11-13 22:12] jaraco commented on #185
I like this idea of restricting the files added by the file finder, though as mentioned, the interface is ugly. I'd feel better if the system processed the export-ignore directly or better if there were an API presenting the files to ignore.

@anntzer: Would you be willing to put together a PR for the feature?

[2017-11-13 22:37] anntzer commented on #185
I'll leave it on my todo list, but it's not going to be very high in the priority queue.
Parsing gitattributes ourselves is a bit tricky as they can live in many places, including system-wide, possibly somewhere specified by the local and global gitconfig.  See https://git-scm.com/docs/gitattributes, e.g.

(and I think if we do claim to support gitattributes we should do it correctly, not some sub

[2017-11-16 02:11] anntzer opened #188 "write_to should also obey relative_to"
Say you have e.g.
[code]
ie. a typical case where you do need to specify root and relative_to.
In this case it seems preferable for write_to to also obey relative_to, i.e. you (I)'d like to write `relative_to=__file__, root="..", write_to="src/yourmagicpackage/_version.py"` rather than `..., write_to="python/src/yourmagicpackage/_version.py"`.

Obviously this would be a backcompat break, but I thi

[2017-11-16 06:18] RonnyPfannschmidt commented on #188
this is an oversight, i need to take a look at correctly fixing it

[2017-11-24 15:28] FlorianWilhelm opened #189 "PEP440 local-version"
I got a question regarding this line:
https://github.com/pypa/setuptools_scm/blob/529b5de893c920fa32b0a42f807ebc9ac8f78aa7/setuptools_scm/git.py#L95

Might it be that according to an updated [PEP440](https://www.python.org/dev/peps/pep-0440/#local-version-identifiers) the local-version is allowed to now even start with a digit? I know it was not always like that and therefore it was necessary to p

[2017-11-24 16:18] RonnyPfannschmidt commented on #189
the g is simply put in there to ensure the versioning scheme is consistent, as git is a error prone data source with different styles of data

[2017-11-24 16:20] RonnyPfannschmidt commented on #189
oh, and as an extra trick, this also indicates the version control system, git gets a g, hg gets a h

[2017-11-24 16:28] FlorianWilhelm commented on #189
Okay, thanks for explaining. But in general it should also work without the `g` even in the case when the sha1 starts with a digit.

[2017-11-24 16:59] RonnyPfannschmidt commented on #189
indeed, but personally i suggest to have it for consistence

[2017-11-24 17:37] FlorianWilhelm commented on #189
Ok, thanks for the fast reply.

[2017-11-24 17:37] #189 closed, assigned to nobody

[2017-11-27 16:16] gaborbernat opened #190 "using setuptools_scm forces all SCM files to be packaged into sdist"
any way we can disable this?

[2017-11-27 16:59] gaborbernat commented on #175
so can someone explain? :+1: from what I see ``setuptools_scm`` forces everything to be packaged, which would make package_data redundant

[2017-11-27 17:03] RonnyPfannschmidt commented on #175
@gaborbernat bascially setuptools_scm also registers a file lister for git/hg, thus adding all files to the sdists

[2017-11-27 17:03] RonnyPfannschmidt commented on #190
right now not, its suggested to use a MANIFEST.in to add excludes, documentation is needed

[2017-11-27 17:04] gaborbernat commented on #190
@RonnyPfannschmidt I've tried but fails, in what form should that be added?

[2017-11-27 17:05] RonnyPfannschmidt commented on #190
https://github.com/borgbackup/borg/blob/master/MANIFEST.in

[2017-11-27 17:06] gaborbernat commented on #190
this also makes that we ignore ``find_packages``, ``package_data``, etc absolute as far as I see :thinking:

[2017-11-27 17:09] RonnyPfannschmidt commented on #190
@gaborbernat not sure what you mean by that

[2017-11-27 17:13] gaborbernat commented on #175
yeah, I saw that reading through the code, I see how some people probably really on that, but it completely messes up people using the canonical ``find_packages``, and ``package_data`` mechanism - maybe that setuptools file lister should be opt out able! thanks :+1:

[2017-11-27 17:15] gaborbernat commented on #190
once setuptools_scm is enabled we package everything, by adding all files to the default (via https://github.com/pypa/setuptools/blob/5ecd7575c9c09d4ec2d8f993c5fb405388c3f3c1/setuptools/command/egg_info.py#L563); so this basically has the effect that we ignore whatever was specified in find_packages, package_data, not?

[2017-11-27 17:16] RonnyPfannschmidt commented on #175
@gaborbernat due to setuptools limitations its impossible to easily opt out as its an api thats kept completely distinct

i'm willing to accept a clean implementation of a sane opt out, i'm not going to invent one and i'm going to reject messy ones

[2017-11-27 17:20] gaborbernat commented on #190
running
[code]
even though running https://github.com/borgbackup/borg/blob/master/setup.py#L817 states please no pyx, h, c files:

[code]

see how we just packaged pyx files there.

[2017-11-27 17:21] RonnyPfannschmidt commented on #190
gah, does it also add them to a wheel? or does it just pollute the sdist?

[2017-11-27 17:33] gaborbernat commented on #190
just the sdist :+1:

[2017-11-27 23:42] jaraco commented on #175
In the past, setuptools had Subversion support built-in. If you had a subversion repo, it presumed you wanted to use the repo to manage your package contents. Setuptools_scm builds on this assumption, but around git and hg.

But you bring up a good point - that you may want the versioning support but want to disregard the file finder support.

In my opinion, the file finder support is superior and

[2017-11-28 00:33] gaborbernat commented on #175
@jaraco I agree, looking at the bits and codes, the setuptools exclude should apply to SCM code and not taken blindly 👍 on the other hand it's interesting how should file finders interact with ``find_packages`` and ``data_files`` settings.

[2017-12-10 21:02] woodyza opened #191 "Plans for a new release?"
Hi!

I just spent some quality time fighting with what turned out to be the windows 8.3 filename format issue fixed by #174 - any chance that's scheduled to be rolled into a new release yet?

[2017-12-11 06:59] RonnyPfannschmidt commented on #191
thanks for the note, it went under the bus for personal reasons, i#ll try today

[2017-12-11 07:27] woodyza commented on #191
awesome, thanks very much 👍

[2017-12-12 13:28] mortenlj opened #192 "Handle pristine repo with no existing tags"
I'm in the process of creating a new library from scratch, and I'm copying parts of `setup.py` from an existing project, because I'm going to use the same tooling.

One problem is that until I create my first tag, `setuptools_scm` will fail hard because it can't detect a version to use. The result is that I have to comment out the `use_scm_version` line until after I have created the first tag, wh

[2017-12-12 13:32] mortenlj commented on #192
My bad, I just realized I hadn't even run `git init` in the directory. After running `git init` it will correctly function. Closing this.

[2017-12-12 13:32] #192 closed, assigned to nobody

[2017-12-12 14:27] RonnyPfannschmidt commented on #192
thanks for the followup, better handling of no repo might help users as its indeed easyly possible to miss aux work when you are neck deep in a actual problem

[2017-12-12 19:56] axnsan12 commented on #190
Is there any update on this? This functionality is really not stated anywhere and is very undesirable for me. My manifest.in already lists everything that should be in the package and I would really love to use `setuptools_scm` just for the version detection.

[2017-12-12 20:18] axnsan12 commented on #190
For what it's worth, I hacked around this by doing:

[code]

in my `setup.py`

[2017-12-12 20:24] jaraco commented on #190
If it weren't for the bootstrapping challenges, I'd suggest that setuptools_scm should be split into two packages such that a project could selectively include the behavior they desire (and only that behavior). Unfortunately, the ecosystem (setuptools) assumes that if you've checked files into your source code repo that you intend to copy them into your sdist.

I think the issue here shouldn't be

[2017-12-12 20:32] axnsan12 commented on #190
Would it not be possible to create a dummy package, say `setuptools_scm_no_finder`, which, if installed, would cause find_files to be a no-op? i.e., in `integration.py`

[code]

Then you could list that module as an extra_require to this module, and one would do, say `pip install setuptools_scm[version_only]` (or `setup_requires=['setuptools_scm[version_only]']`) to activate only the versioning co

[2017-12-12 20:58] axnsan12 commented on #190
Another idea: choose a special filename which, if encountered, would cause find_files to return an empty list? something like `.no_scm_sdist`?

Or try to read configuration settings from some standard files like `tox.ini` and `setup.cfg`?

[2017-12-12 21:53] gaborbernat commented on #190
I looked into this in detail, being annoyed with it and I think it's fine the way it works now.

``sdist`` is your source files distribution, and the only non desirable files are CI project files (for that ``setuptools`` could have an exclude list evaluated after or against ``find_files``). Remember the ``Manifest`` or ``package_data`` is still relevant, as that governs what exactly then gets inst

[2017-12-12 23:18] sjlongland opened #193 "setuptools_scm silently reports garbage version string if git fails to read tag"
I needed a Debian package of `setuptools_scm` recently, so decided to set up our CI server to track the `master` branch (I'd prefer to use a stable branch, but I can't seem to find one) and build a new release.

Trouble is, it builds a package with version 0.1… This then gives me grief due to the fact that the version number doesn't actually reflect the true version number of the package, and depe

[2017-12-13 01:56] sjlongland commented on #193
This problem it appears is further exacerbated by the way Atlassian Bamboo checks out git repositories and our use of Docker to build Debian packages.

When the checked-out repository is mounted within a container, the repository references Bamboo's repository cache.  That cache is then outside the container when `setuptools_scm` does its thing.  `setuptools_scm` *silently* fails, and returns a ga

[2017-12-13 12:14] RonnyPfannschmidt commented on #193
is there anything we can do to correctly notice that bamboo is breaking the world?

[2017-12-13 12:17] sjlongland commented on #193
I'd probably start by checking for errors reported by `git`… I haven't traced through the code fully but this module figures out the tag by making calls to the `git` binary, correct?

If so, there should be an exit status being returned, as well as some diagnostic information.  This will not parse as a tag.  Raising a warning would suffice.  At least then we have something to go on when things go

[2017-12-13 12:20] RonnyPfannschmidt commented on #193
i will invesitgate if there is a way to ask git if the repo is fine
in order to support bamboo until then, you can take a look at setting the `SETUPTOOLS_SCM_PRETEND_VERSION` env variable to something sensible

[2017-12-13 12:25] sjlongland commented on #193
Ahh okay, wasn't aware of that feature, I shall investigate.

[2017-12-13 12:32] RonnyPfannschmidt commented on #193
it came to my attention that `git status -s` fill fail fatally for worktrees that are mounted in a unfortunate way

[2017-12-13 12:35] RonnyPfannschmidt commented on #193
i noted that if .git is not a directory, it contains worktree metadata, im pondering whether thats a more correct way to fix up things

[2017-12-13 12:40] RonnyPfannschmidt commented on #190
im happy to accept a pr that adds a `take_out_file_finder` option for setup.py which in turn would apply the monkeypatch

when setup is called, the file finding isnt diretly triggered, but we can at that point apply the evil monkeypatch in a reasonable manner

@jaraco oppinions?

[2017-12-13 16:41] jaraco commented on #190
Gaborbernat has already indicated that the existing behavior is acceptable... so the remaining opinion is that of axnsan12:

My recommendation is to eliminate the manifest.in and rely on the file finder. I've yet to see a compelling use-case where SCM-based file finders isn't a suitable approach if not exactly what a project needs. What is the reason that doesn't work for you, @axnsan12?

My opini

[2017-12-13 16:44] RonnyPfannschmidt commented on #190
@jaraco thanks for elaborating, i will close this one as wontfix then

[2017-12-13 16:44] #190 closed, assigned to nobody

[2017-12-14 21:53] Kentzo commented on #143
@RonnyPfannschmidt Would you consider enabling wiki with community access?

[2017-12-15 00:32] Kentzo commented on #183
@KOLANICH See PEP 440 for the exact format.

I do think that setuptools_scm can be extended (e.g. via a plugin) to support semver.

[2017-12-15 00:41] Kentzo opened #194 "Add the parse_fallback key to the use_scm_version dict"
So one could specify a custom fallback rather than a full implementation of parse.

[2017-12-15 00:43] Kentzo commented on #194
Additionally, I think both `parse` and `parse_fallback` should accept a dict as value. Where keys and values are same as for `setuptools_scm.parse_scm` and `setuptools_scm.parse_scm_fallback`.

This way authors could extend the behavior without creating a separate package.

[2017-12-15 18:41] Kentzo opened #195 "Allow to specify a glob or regex as an entry_point name"
So plugins could reference other files than at the root directory.

[2017-12-15 18:56] Kentzo commented on #162
@RonnyPfannschmidt Perhaps setuptools_scm should include a fallback to parse a file pointed by the user if nothing else can be found?

[2017-12-15 19:10] Kentzo opened #196 "How to specify the order of plugins?"
Assuming I have multiple setuptools_scm plugins, how can I guarantee an order of their entry_point enumeration?

According to the pkg_resources doc:

How do I define an order of setuptools_scm plugins in working set in modern (>30) versions of setuptools?

[2017-12-15 19:25] Kentzo opened #197 "Pass the value of use_scm_version to custom parse functions"
It should be possible for plugin developers to introduce new keywords into that dictionary to allow plugin configuration similar to setuptools_scm.

[2017-12-15 19:33] Kentzo commented on #197
Perhaps all customizable callables should receive a config.

[2017-12-15 21:31] Kentzo commented on #197
In particular, in [my plugin](https://github.com/GreatFruitOmsk/setuptools_scm_about) I'd like to give user a choice to specify a path to a file.

[2017-12-15 21:33] Kentzo commented on #195
[My plugin](https://github.com/GreatFruitOmsk/setuptools_scm_about) provides a fallback for cases when there is no SCM metadata, but `__version__` is nevertheless available via a file. Since that file is usually inside user's package which can have an arbitrary name I cannot provide an entry_point in my plugin.

My current workaround is to use '.' as an entry point.

[2017-12-16 13:12] RonnyPfannschmidt commented on #196
ther is no mechanism to define a custom order, the setuptools order is followed

[2017-12-16 13:12] #196 closed, assigned to nobody

[2017-12-16 13:18] RonnyPfannschmidt commented on #183
currently its not possible as we use the python version parsing tooling in the internals

[2017-12-16 13:18] #183 closed, assigned to nobody

[2017-12-16 17:26] Kentzo commented on #196
By any chance do you know how setuptools defines the order?

[2017-12-16 21:25] RonnyPfannschmidt commented on #196
nope

[2017-12-17 05:20] jaraco commented on #196
I don't think there's any prescribed order. The order is probably an artifact of how the packages are discovered, which may itself be a platform-specific factor like the order in which files/directories are returned from the file system.

[2017-12-17 06:20] Kentzo commented on #196
@jaraco Perhaps the order should be taken from the setup_requires list?

[2017-12-17 14:13] jaraco commented on #196
It’s much more complicated than than. Entry points are a general purpose inversion of control tool. They can be defined by any package, even those installed by other package managers such as pip (or manually). They need not be defined in setup_requires.

Moreover, a package may present multiple entry points for the same entry point, such as pytest does with its plugins.

So you could imagine a sit

[2017-12-18 20:35] gaborbernat opened #198 "setuptools_scm explicit silent fallback"
Now  if in ``setup.py``  we turn on setuptools_scm and there's no SCM repository an exception is raised that no SCM repository, is it possible to fallback to a value instead of raising this error and still build the package? e.g. ``0.0.0-dev`` ?

[2017-12-18 20:56] Kentzo commented on #198
Take a look at https://github.com/GreatFruitOmsk/setuptools_scm_about

Best Regards
Ilya Kulakov

[2017-12-19 07:07] RonnyPfannschmidt commented on #198
@gaborbernat the env var `SETUPTOOLS_SCM_PRETEND_VERSION` is the canonical way to make it use a given value instead of trying to find a scm

[2017-12-19 08:01] gaborbernat commented on #198
I see, however that overwrites the look for SCM. I wan't fallback to this value if no SCM. The about is what I want.

[2017-12-19 08:35] RonnyPfannschmidt commented on #198
@gaborbernat in what cases does this happen to be required, i'd like to know more about the use-case before blindly enabling something

[2017-12-19 10:08] gaborbernat commented on #198
the use case is the following:
- let there be a plugin-able library that uses the mechanism at https://packaging.python.org/guides/creating-and-discovering-plugins/
- now you want to write  a plugin for it,  you create a virtualenv, a ``setup.py`` for the plugin and to test it/develop it you use ``pip install -e .``
- in order to mock something together locally (maybe you just want to try somethin

[2017-12-19 10:20] RonnyPfannschmidt commented on #198
hmm, i'd like to point out that a cookiecutter plugin that makes something that requires scm but doesn't ensure/init the scm repo as well is broken and should be fixed instead - in particular if the init step is as cheap as a git init / reminidng the user to do a git init

in addition you can just comment/mask the use_scm_version line and it just stops caring
setuptools_scm itself in normal use is

[2017-12-19 10:28] gaborbernat commented on #198
I see your point, but from my side I want setuptools_scm opt in (e.g. graciously fallback), instead of forced in (e.g. the user might not have git installed locally - so the git init is not necessarily cheap). Either way the about plugin allows this, so no problems.

[2017-12-19 13:21] RonnyPfannschmidt commented on #198
i dont consider the issue resolved then,
can you point to the cookiecutter template please as well, i'd like to arrive at a solution that ensures that solving the initial use issue nicely wont introduce incorrect/bad metadata at downstream users

[2017-12-19 13:25] gaborbernat commented on #198
I cannot release the code, is not open source :-) but I've explained the use case.

[2017-12-19 13:47] ThomasWaldmann opened #199 "document the MANIFEST.in-replacing capabilities of setuptools_scm"
Dealing with MANIFEST.in and the package data include/exclude stuff in setup.py usually is a pain.
Either stuff is missing or you include crap accidentally.

setuptools_scm seems to handle this elegantly, but the README and docs focus on its version handling capabilities and don't tell much about the manifest/package-data related functionality.

After noticing that (more or less accidentally, iirc

[2017-12-19 16:18] RonnyPfannschmidt commented on #198
@gaborbernat i see, in that case im not sure i can provide a well fitting solution in a timely manner

[2017-12-19 21:52] gaborbernat commented on #198
hence why I said we can close this for now 👍 thanks for the effort!

[2017-12-20 18:58] engnadeau opened #200 "Allow custom timestamp for `get_local_node_and_date()`"
## Expected Behavior
- Ability to set custom timestamps (e.g., `%Y%m%d%H%M%S` instead of `%Y%m%d`)
- Multiple dirty builds are sometimes generated in quick succession

## Actual Behavior
- Hardcoded `%Y%m%d` timestamp: https://github.com/pypa/setuptools_scm/blob/46df188a54e3eb2b0dfb93dbae59fb23249fbcce/setuptools_scm/version.py#L140-L144

## Specs
- `Python 3.6.1`
- `setuptools-scm 1.15.6`
[code]

[2017-12-21 06:27] RonnyPfannschmidt commented on #200
this scheme is registered as `node-and-date = setuptools_scm.version:get_local_node_and_date`
for a higher resolution it should be relatively simple to regster something like a `node-and-timestamp` scheme

the quickest way to get it is a own setuptools_scm plugin,
the second quickest is to make a pr with it so i can merge/release
i wont to any feature-dev this year

[2017-12-21 17:13] engnadeau opened #202 "Tests failing due to EoL Python version"
- According to https://devguide.python.org/#status-of-python-branches, Python versions 2.6 and 3.3 are EoL
- `pytest` no longer supports the above versions

From https://travis-ci.org/pypa/setuptools_scm/jobs/319806215:
[code]

From https://travis-ci.org/pypa/setuptools_scm/jobs/319809161:
[code]

[2017-12-22 17:15] timlehr opened #205 "LookupError with long Windows usernames"
Hey guys,

a quick bug report before we all enjoy our holidays. :)

I ran into trouble with the library, as it will an LookupError when the username is truncated by Windows with "~1" for being too long. Or at least that's what I think what's causing it. On another user named 'tlehr' everything works as expected. Any clues on how to fix this? With 1.15.0 everything works even with a long username.

[2017-12-22 21:35] woodyza commented on #205
Hey,

I had a similar issue recently, have you tried installing from master instead? #174 fixes an issue with the crusty old Windows 8.3 filename truncation but it's not yet rolled into an official release.

[2017-12-22 22:48] anthrotype opened #206 "feature request: git ls-files --recurse-submodules"
The default FILES_COMMAND in setuptools_scm.git module uses `git ls-files` to list the files under version control.
I have a project where I use some git submodules and would like to also include the files inside them in the source distribution of the parent project.

git ls-files has an option `--recurse-submodules` that does that.

What would be the easiest way for me to customize the git.FILES_

[2017-12-22 23:21] timlehr commented on #205
Hi woodyza,

Thanks for the quick reply!

No I haven’t yet, but #174  seems like the issue I‘m experiencing.
I hope there will be a new release for PIP soon, as my deployment system is built around it.

[2017-12-25 18:25] jaraco commented on #205
I find this to be a really interesting issue. I was surprised to see MS-DOS names still causing problems. I thought surely if I pulled out a brand-new Windows 10 Fall Creators Update that it wouldn't be generating short file names or using them by default, but in fact it is (yuck!).

I did some more digging, thinking that maybe Python wasn't returning the canonical name in the `tempfile` module, b

[2018-01-09 06:50] pavoljuhas opened #208 "setuptools_scm is used even if not asked for"
The README file states that setuptools_scm is activated with a `setup_requires=['setuptools_scm']` argument to the `setup()` function.  I have however noticed that the file finder from setuptools_scm is active even if setuptools_scm is not mentioned in setup.py at all.

I have created a dummy git repository with the following files:
`MANIFEST.in`, `foo.py`, `sdist-include.txt`, `sdist-exclude.txt`

[2018-01-09 09:21] RonnyPfannschmidt commented on #208
this bug is a unintended side-effect of the file finding mechanism setuptools uses - unfortunately setuptools plugins are not limited to what's listed in setup_requires, but all installed are loaded,

in addition a file finder never gets access to theconfiguration of a distribution, so its impossible to sanely manage opt-in/out

@jaraco any suggestions for resolving this?

[2018-01-12 13:04] bcroq opened #209 "Bad setuptools_scm version 0.0.0 when installed from a .tar.gz archive"
When setuptools_scm is installed from an sdist archive, it is installed as version 0.0.0.

E.g. when installing version 1.15.6:
[code]

[2018-01-12 13:14] RonnyPfannschmidt commented on #209
@jaraco is there anything we can do to prevent this behaviour?

[2018-01-12 13:24] bcroq commented on #209
This 0.0.0 version is a problem when installing packages that ask for a minimal version of setuptools_scm in their `setup_requires`, eg. pytest-runner:

[code]

[2018-01-12 13:27] RonnyPfannschmidt commented on #209
as a temporary workaround please ensure you have setuptools_scm  installed by pip in your environment

in general its very helpful to avoid easy_install since its sandboxing interferes with setuptools_scm being albe to self-install

[2018-01-20 00:45] garbas opened #211 "LICENSE file is not included in the 1.15.7 tarball"

[2018-01-20 09:08] igor-raits commented on #211
Also tests are not included.

[2018-01-20 14:59] jaraco commented on #208
I'd say this isn't an issue with setuptools_scm, but with setuptools itself in that setuptools is designed to use any and all file finders installed.

This behavior has essentially been a non-issue because the recommended use case for these libraries supplying file finders is to specify them as setup_requires such that they are only installed when needed.

I'd rather not go into more discussion he

[2018-01-20 14:59] #208 closed, assigned to nobody

[2018-01-20 15:24] jaraco commented on #209
hgtools [had a specialized approach](https://github.com/jaraco/hgtools/blob/6.3/setup.py) to handle this condition.

[code]

[2018-01-26 16:52] jaraco opened #212 "ImportError no module named nt"
With latest release 1.15.7, I'm seeing this error running on macOS:

[code]

I would have thought tests would have caught that... or that the original implementation would not have been susceptible. I'll need to investigate further.

[2018-01-26 16:57] jaraco commented on #212
Oh...

I'm seeing that error when my tests are attempting to collect tests from .eggs/setuptools_scm*

I need to reconfigure my test routines to ignore .eggs.

[2018-01-26 16:57] #212 closed, assigned to nobody

[2018-01-28 21:30] arunpersaud commented on #211
Changelog is also missing

[2018-02-01 07:21] pitrou commented on #176
The issue seems not only with git subdir URLs but also when you have a complete checkout and run `pip install .` in a subdirectory. See original report for PyArrow at https://issues.apache.org/jira/browse/ARROW-2067

(as a sidenote, it would be nice to explain somewhere why this package is "blessed"? how is it better than e.g. versioneer?)

[2018-02-06 07:26] kryskool commented on #173
Hi @tathagata

You can write a version scheme like [this project](https://github.com/apenwarr/sshuttle/blob/master/setup.py)

In your **setup.py** add:

[code]

It works like

[code]

Regards,

[2018-02-10 13:07] tathagata commented on #173
@kryskool thanks for your answer. Unfortunately I ended up not using setuptools_scm - instead shell-ing out to run git commands and added some helper functions that would be good enough for our release process.

[2018-02-10 13:07] #173 closed, assigned to nobody

[2018-02-19 09:53] SnarkBoojum commented on #211
I suggest to retitle this issue "Tarball misses half of the files"...

[2018-02-25 06:52] jab opened #213 "document/gracefully handle when users create own dev versions in tags"
I had already created the tag "0.15.0.dev0" of my package, before uploading that development version to PyPI. I made some further progress and wanted to release a new development version, and so I created the tag "0.15.0.dev1". It seems I've found out the hard way though (doesn't seem to be documented?) that dev versions greater than 0 are currently unsupported – I'm now hitting this AssertionErro

[2018-02-25 10:42] RonnyPfannschmidt commented on #213
there is no plan to support own numbers there, that number is always the **distance in commits** form the last tag

which is also the reason for the assertion

note that if you look at the surrounding code it should be glaring, that the actual number is always ignored and the distance is always used

but i do agree that there should be better tooling around tagging

[2018-02-26 01:44] jab commented on #213
Ok, so creating ".devN" style tags is unsupported, but you find this out neither from the documentation, nor at the time that you create a tag like "X.Y.Z.dev0". Creating such a tag is a time bomb that you only find out about who knows how much later – not even once you eventually create a tag like "X.Y.Z.dev1", but only in the NEXT change, who knows how long AFTER creating the .dev1 tag, when you

[2018-02-26 06:17] RonnyPfannschmidt commented on #213
thanks for explaining your needs and your solution

as part of the solution i'll have to turn that assertion into a warning

as for publishing releases, i will document that one should never tag a dev release (setuptools_scm is responsible for `.devX` versions

for pypi/public releases i believe a viable approach is to use alpha/beta releases , for privately published development releases my own p

[2018-02-28 14:21] #202 closed, assigned to nobody

[2018-02-28 14:39] RonnyPfannschmidt opened #215 "better tests for unicode escape handling"
follow-up to #214 - this one shouldn't have happened in the first place, but did due to sloppy testing on my part

[2018-02-28 15:06] RonnyPfannschmidt opened #216 "ensure timestamp/datetime formatting is configurable"
followup to #201

this should be passable as variable/config option

[2018-02-28 15:07] #200 closed, assigned to nobody

[2018-03-01 07:29] SnarkBoojum commented on #211
Could you just release a new version with a fixed tarball, please?

[2018-03-01 08:16] #185 closed, assigned to nobody

[2018-03-05 09:48] Letme opened #217 "Default settings for development do not work nicely with pypi"
I have a simple project and the deployment to test-pypi is done via `.travis-ci.yml` for each commit on master branch. The problem is the below error and after reading the documentation couple of times is that I do not know how to switch to SimVer.

Probably my question is more in line of how to make this pypi compatible (what to add into `setup.py`) as the default is just not working for non-tagg

[2018-03-05 09:51] RonnyPfannschmidt commented on #217
pypi rejects local versions by design, and setuptools_scm explots that fact in a way (preventing the uploading of randomc scm versions to pypi as a stopgap in release processes)

if you want to work that in more detail you can either reconfigure setuptools_scm in setup.py to stop protecting you from that or you can alter the pypi deployment to set up a env varible in `SETUPTOOLS_SCM_PRETEND_VERSIO

[2018-03-05 09:57] Letme commented on #217
Can you point me to how to reconfigure `setuptools_scm` in `setup.py` to stop protecting me from that?

[2018-03-05 10:01] RonnyPfannschmidt commented on #217
for example you can use `local_scheme` of https://github.com/pypa/setuptools_scm#configuration-parameters and set it to `'dirty-tag'`

aka
[code]

[2018-03-05 10:03] RonnyPfannschmidt commented on #217
note, i suggest to only set that on travis in order to prevent personal mistakes in the release process

[2018-03-05 10:04] Letme commented on #217
If I use `SETUP_TOOLS_SCM_PRETEND_VERSION`, then I can probably use it in master only and let default stay for the tags?

Then something like `{next_version}.dev{distance}` would work correct?

[2018-03-05 10:05] Letme commented on #217
That fits nicely with your note as well (since otherwise I have to pipe in some stuff in travis)

[2018-03-05 10:28] RonnyPfannschmidt commented on #217
off hand no idea, i usually use the default setup, and upload dev releases to a devpi instance

[2018-03-06 18:10] SF-300 opened #218 "Tag preprocessing"
Hello,

I'm currently evaluating setuptools_scm as a solution to CI versioning needs in my organization. Due to some historical reasons tags in our repositories are not formatted according to PEP 440 but can be trivially converted to compliant ones (e.g. "Version 1.2.3" -> "1.2.3"). However it looks like currently there is no hook/callback to perform such preprocessing and parsing fails miserably.

[2018-03-06 19:41] RonnyPfannschmidt commented on #218
prs are welcome, there is a rough idea to enable this via parse_scm hooks however the design work on that never was finished, and the testing neither, so its currently incomplete

[2018-03-07 14:51] SF-300 commented on #218
I need some help in grasping the architecture. What's the purpose of "meta" function? It seems to me that this function is excessive - the functionality belongs to ScmVersion constructor. And "preformatted" arg looks like a hack. However "we use ScmVersion here in order to keep legacy code working" implies that the functionality actually was in ScmVersion before. So what's the grand idea?

[2018-03-07 15:20] SF-300 commented on #218
Also I've found [this issue](https://github.com/pypa/setuptools_scm/issues/87). Looks like the main reason not to include custom hook is that it gives too much freedom. I think that this may be solved by providing some (regex?) pattern and join symbol instead of callable.

[2018-03-07 16:03] RonnyPfannschmidt commented on #218
@SF-300 the issue has a proposed solution i'd accept, it just wasn't implemented/followed up on

[2018-03-07 19:04] brainwane commented on #217
Is this the sort of information that should go into pypa/warehouse#3153?

[2018-03-07 20:35] RonnyPfannschmidt commented on #217
@brainwane possibly

[2018-03-08 08:46] avirshup opened #219 "Regression: hg repos with setuptools_scm>=1.15 are missing dev version bumps"
`setuptools_scm` 1.15.* is reporting incorrect version numbers for my hg repositories.

Specifically, a merge commit that follows a tag commit does not seem to trigger the version bump like I would expect. In the screenshot below, for instance, I would expect the tip to be version `1.1.dev[N]+[sha]`. However, versions 1.15.* report the tip's version as `1.0`.

To reproduce:
[code]

Expected behavi

[2018-03-08 08:57] avirshup commented on #219
If you like, I'd be happy to submit a PR with at least a _test_ for this issue.

I'd be even happier to submit a fix if I could, of course, but I don't know much about mercurial. My best guess is that this issue has something to do with the [`revset` string in hg.py lines 11-12](https://github.com/pypa/setuptools_scm/blob/632b02b8ad1f10c79d36c03502069d74c9686c73/setuptools_scm/hg.py#L11-L12)? It w

[2018-03-08 09:02] RonnyPfannschmidt commented on #219
personally, no idea either - i stopped using/working on mercurial a few years ago due to bitbucket's choices and the results for the community - i'm happy to have a test and would love to get a fix, but i wont work on it myself

[2018-03-08 09:03] RonnyPfannschmidt commented on #219
its likely that the revset is incomplete, we might need to stop considering the tag commit the same version as the tag since its error prone and the edge cases keep coming

[2018-03-08 09:29] avirshup commented on #219
Thanks for the lightning fast reply!

Hmmm ... after reading up (for the last few minutes, anyway) on revsets, I think I can at least take a stab at fixing this. Will open a PR soon with the test case, and hopefully the fix soon after that.

[2018-03-09 06:04] SnarkBoojum commented on #211
Please?

[2018-03-09 08:58] RonnyPfannschmidt commented on #211
i#ll see to it when i can - i need to reintroduce a manifest.in file as it seems atm

[2018-03-10 20:15] reuvenpo opened #221 "unclear documentation of Usage with Sphinx"
In the Usage with Sphinx section, it says: "It is discouraged to use setuptools_scm from sphinx itself".

One would assume that the intent is that `setuptools_scm` should not be used from within the `conf.py` file(`sphinx`'s configuration file), but it doesn't make sense to me to use the supplied code example anywhere else. You wouldn't put it in the `setup.py` file, as part of the `build_sphinx`